<html>
<head>

<link rel="stylesheet" type="text/css" href="css/mathquill.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">


<!--<script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>-->
<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/angular.min.js" type="text/javascript"></script>
<script src="js/mathquill.min.js" type="text/javascript"></script>
<script src="js/bootstrap.js"></script>

<style>
p {color:blue;}
.mathquill-embedded-latex{min-width: 20px;}
#mathQuill {
    width: 9.2em;
    font-size: 1.2em;
    background: white;
	height:32px;
}
</style>

</head>

<body>
<div ng-app="editorApp"> 
  <div ng-controller="editorController">
    <br/>
    <br/>
	<p>Type math here: <span id="mathQuill" autofocus></span></p>
    <br/>
    <br/>
    
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
	<li class="active"><a href="#default" role="tab" data-toggle="tab">Common</a></li>
	<li><a href="#symbol" role="tab" data-toggle="tab">Symbol</a>
	<li><a href="#tab3" role="tab" data-toggle="tab">Tab 3</a>     
	<li><a href="#keypad" role="tab" data-toggle="tab">Keypad</a>  
	</li>
	</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="default">
    <br/>
    <table class="table">
      <tr>
        <td><span ng-click="mqCmd('7','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Seven">7</span></td>
        <td><span ng-click="mqCmd('8','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Eight">8</span></td>
        <td><span ng-click="mqCmd('9','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Nine">9</span></td>
        <td><span ng-click="mqCmd('+','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Plus">+</span></td>
        <td><span ng-click="mqCmd('x','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="x">x</span></td>
        <td><span ng-click="mqCmd('y','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="y">y</span></td>
        <td><span ng-click="mqCmd('x^2 ','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="x square">x^{2}</span></td>
        <td><span ng-click="mqCmd('y^2 ','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="y square">y^{2}</span></td>
        <td><span ng-click="mqCmd('^','cmd')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="SuperScript">a^{n}</span></td>
        <td><span ng-click="mqCmd('_','cmd')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Subscript">a_{n}</span></td>
      </tr>
       <tr>
        <td><span ng-click="mqCmd('4','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Four">4</span></td>
        <td><span ng-click="mqCmd('5','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Five">5</span></td>
        <td><span ng-click="mqCmd('6','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Six">6</span></td>
        <td><span ng-click="mqCmd('-','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Minus">-</span></td>
        <td><span ng-click="mqCmd('|','cmd')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Absolute">|a|</span></td> 
        <td><span ng-click="mqCmd('/','cmd')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Fraction">\frac{a}{b}</span></td>
        <td><span ng-click="mqCmd('/','cmd')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Mixed fraction">n\frac{a}{b}</span></td>
        <td><span ng-click="mqCmd('{}:{}','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Ratio Expression">a:b</span></td>
        <td><span ng-click="mqCmd(':','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Ratio">:</span></td>
        <td><span ng-click="mqCmd('%','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Percentage">%</span></td>
      </tr> 
      <tr>
        <td><span ng-click="mqCmd('1','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="One">1</span></td>
        <td><span ng-click="mqCmd('2','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Two">2</span></td>
        <td><span ng-click="mqCmd('3','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Three">3</span></td>
        <td><span ng-click="mqCmd('\\times ','cmd')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Multiply">\times </span></td>
        <td><span ng-click="mqCmd('\\pm','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Plus Minus">\pm</span></td>
        <td><span ng-click="mqCmd('\\sqrt ','cmd')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Square Root">\sqrt{a}</span></td>
        <td><span ng-click="mqCmd('\\sqrt[n]{}','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Complex Square Root">\sqrt[n]{a}</span></td>
        <td><span ng-click="mqCmd('sin','cmd')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Sin">\sin</span></td>
        <td><span ng-click="mqCmd('cos','cmd')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Cos">\cos</span></td>
        <td><span ng-click="mqCmd('sec','cmd')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Sec">\sec</span></td>
      </tr>
      <tr>
        <td><span ng-click="mqCmd('0','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Zero">0</span></td>
        <td><span ng-click="mqCmd('38','keystroke')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Up">Up</span></td>
        <td><span ng-click="mqCmd('.','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="dot/decimal">.</span> </td>
        <td><span ng-click="mqCmd('div','cmd')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Division">\div</span></td>
        <td><span ng-click="mqCmd('^\\circ','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Degree">^\circ</span></td>
        <td><span ng-click="mqCmd('\\pi ','cmd')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Pi">\pi</span></td>
        <td><span ng-click="mqCmd('angle','cmd')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Angle">\angle</span></td>
        <td><span ng-click="mqCmd('\\bigtriangleup','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Triangle">\bigtriangleup</span></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><span ng-click="mqCmd('37','keystroke')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="left">\leftarrow</span></td>
        <td> <span ng-click="mqCmd('40','keystroke')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Down">Dn</span></td>
        <td><span ng-click="mqCmd('39','keystroke')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Right">\rightarrow</span> </td>
        <td> <span ng-click="mqCmd('8','keystroke')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Backspace">\Leftarrow</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>    
        <tr>
        <td><span ng-click="mqCmd('(','cmd')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Small bracket">&lt;&lt;</span></td>        
        <td><span ng-click="mqCmd('\{','cmd')" style="border: 2px solid yellow; cursor:pointer;" title="Middle bracket">&lt;&lt;</span></td>
        <td><span ng-click="mqCmd('[','cmd')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;" title="Small bracket">&lt;&lt;</span></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td> 
        <td></td>
        <td></td>
        <td></td>
      </tr>     
    </table>

   <br/>
   <br/>
  
   <span ng-click="mqCmd('\\pm','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;">\pm</span>
    <span ng-click="mqCmd('\\frac{}{}','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;">\frac{a}{b}</span>
    <span ng-click="mqCmd('\\frac{}{}','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;">x\frac{a}{b}</span>    
   <br/>
   <br/>   
    

    <span ng-click="mqCmd('\\sqrt[3]{}','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;">\sqrt[3]{x}</span>
    <span ng-click="mqCmd('\\sqrt[n]{}','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;">\sqrt[n]{x}</span>
    <span ng-click="mqCmd('\\%','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;">\%</span>
   <br/>
   <br/>
     <span ng-click="mqCmd('\\int_a^b','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;">\int_a^b</span>  
     <span ng-click="mqCmd('\\lim_{a\\to \\infty}','write')" class="mathquill-embedded-latex" style="border: 2px solid yellow; cursor:pointer;">\lim_{a\to \infty}</span>
  
    </div>
    <div id="symbol" class="tab-pane">
        <br/>   symbol
    
      </div>
    
   <div id="tab3"  class="tab-pane">
    <br/>
	tab3
    
      
   </div>
   <div id="keypad" class="tab-pane">
     Keypad Coming...
   </div> 
<table id="editables">
<tr><th colspan=3>Initial LaTeX
<tr>
  <td><span class="mathquill-math-field">\frac{d}{dx}\sqrt{x}=\frac{1}{2\sqrt{x}}</span>
  <td><span class="mathquill-text-field">lolwut $a^2 + b^2 = c^2$.  Also, awesomesauce: $\int_0^1 \sin x dx.</span>
  <td><span class="mathquill-static-math">\sqrt{\MathQuillMathField{x^2+y^2}}</span>
</table>


</div>     

    
    
    
  </div>    
 </div>
</div>


</body>
<script>


var MQ = MathQuill.getInterface(2); // for backcompat
var mathFieldSpan = document.getElementById('mathQuill');
var mathField = MQ.MathField(mathFieldSpan, {
  spaceBehavesLikeTab: true, // configurable
  handlers: {
    edit: function() { // useful event handlers
      //latexSpan.textContent = mathField.latex(); // simple API
    }
  }
});

var editorApp = angular.module('editorApp', []);
editorApp.controller('editorController', function  ($scope) {  
 $scope.mqCmd = function (val, opr) {    
   console.log(val);
   console.log(opr);
   if(opr === "keystroke") {      
     $('#mathQuill').focus();
     var e = jQuery.Event("keydown");
     e.which = parseInt(val); // # Some key code value
     $("#mathQuill").trigger(e);
      console.log("Hi Keystroke event");
   } else{      
      //$('#mathQuill').mathquill(opr, val);
	  //var mathField0 = MQ.MathField($('#mathQuill')[0]);
	  console.log(mathField);
	  mathField.typedText(val);
      $('#mathQuill').focus();
   }
  
 };
  
});

$(function() {
  $('.mathquill-static-math').each(function() { MQ.StaticMath(this); });
  $('.mathquill-embedded-latex').each(function() { MQ.StaticMath(this); });
  $('.mathquill-math-field').each(function() { MQ.MathField(this); });
  $('.mathquill-text-field').each(function() { MQ.TextField(this); });
});

</script>
</html>