@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(../fonts/pacifico.woff) format('woff');
}

@font-face {
  font-family: 'Dosis';
  font-style: normal;
  font-weight: 400;
  src: local('Dosis Regular'), local('Dosis-Regular'), url(../fonts/dosis.woff) format('woff');
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Dosis", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 .btn, h2 .btn, h3 .btn, h4 .btn, h5 .btn, h6 .btn {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tooltip{ font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

button, a {
  text-decoration: none;
  -webkit-transition: all 0.3s;
     -moz-transition: all 0.3s;
       -o-transition: all 0.3s;
          transition: all 0.3s;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

dd {margin-bottom:10px}

span.badge.badge-success { color: #FFF;  background:#8FCF3C;  }
span.badge.badge-primary { color: #FFF;  background:#5EB6DD;  }
span.badge.badge-danger { color: #FFF;  background:#E50739;  }

.navbar-brand {
  font-family: "Pacifico", "Helvetica Neue", Helvetica, Arial, sans-serif; margin-top:-5px;
}

.container {padding: 0; margin : 0 auto 0 auto;}

.page.container .container > [class*="col-"] {padding-top: 20px}

.page.container  {padding-bottom: 30px}

#page-content {
    padding-top: 45px;
    
}
.navbar-inverse { 
  background: #363732; border:none; z-index:1040
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus
{
  background: #363732; 
  color: #ffffff;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus
{
  text-decoration-line: none;
  text-decoration-style: solid;
  color: #ffffff;
  background-color: #5EB6DD;
}


label.required:after {
  content: "*";
  font-weight: bold;
  color: #cc0033;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size:1.5em;
  line-height:1em;
}

h3 label {  font-weight: normal; }


div.reponse_libre
{
  background:#eee;  border-top: 1px solid #ccc; 
  padding: 15px 16px;
}

div.reponse_libre_text
{
  color: #777; background:#eee;  border: 2px dashed #999;   text-align:center;
  padding: 5px 15px 14px 15px ;  border-radius: 4px;
}

div.reponse_libre_text h3
{
  padding: 0;  margin:5px
}


div.form-group.collection-item
{
  background-color: #fff;position:relative; 
  border-top: 1px solid #ddd; clear:right;
  margin:0 -15px; padding: 5px 0 0 0; 
}

div.form-group.collection-item.goodresult
{
  background: #c5d2c8; position:relative; 
  border: 1px solid #adb8af;
  margin:0 -16px -1px ;
  
}

div.form-group.collection-item.goodresult div input[type="text"]
{
  margin: 0 ; width:100%; border-color:#adb8af; background: #eef6ee
}


div.form-group.collection-item  div input[type="text"]
{
  margin: 0 ; width:100%; 
}

div.form-group.collection-item  div.form-group
{
  padding:0; float:left;
}

div.form-group.collection-item  div.pull-right
{
  width:50px; 
}

div.form-group.collection-item  div.pull-left
{
  width:30px;padding-top:3px
}

div.form-group.collection-item  div.reponse-center div.form-group { width:100% }
div.form-group.collection-item  div.reponse-center { margin: 10px -8px 5px 0; float:left }

div.form-group.collection-item  div.item div.form-group { width:100%; }
div.form-group.collection-item  div.item { margin: 10px -8px 5px 0; float:left }


div.form-group.collection-item  div.remove
{
  margin:0; padding:0px 15px 5px 0px; 
}

div.collection-add 
{
  margin: 0px -15px 5px -15px; padding:20px 16px 0 16px; 
  border-top: 1px solid #ddd;
}

#fin_questionnaire, #mise_en_ligne { display:block }

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
div.form-group.collection-item  div.form-group {  width:auto; }
div.form-group.collection-item  div.remove {   }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px ) { 
#fin_questionnaire, #mise_en_ligne { display:none }

}


.plato_statut_form_group label {font-weight: bold}

div.form-group.collection-item  div.remove a.btn.btn-danger
{
  width:100%; margin:10px 0;
}

div.form-fin
{
  margin-top:20px;
  margin-bottom:20px;
}


.navbar-fixed-bottom.form-group
{
  padding: 15px;
  background:#eee; border-top:solid 1px #ddd; 
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  box-shadow: 0px 2px -5px rgba(0,0,0,0.55);

}

.jumbotron
{
  margin-top:-5px; padding:9px 0; text-align:center; margin-bottom:0; z-index:10;position:relative; 
  background:transparent; 
}


.jumbotron .background
{
  background:transparent; margin :-10px 0 0 0; padding:90px 10px 50px; position: relative; height:400px;
}

.jumbotron.chaperonrouge
{
  background:url("../images/petitchaperonrouge.jpg") no-repeat; background-position: right 30%;
  background-size: cover; height:400px; border:none
}

.jumbotron.chaperonrouge h1 { font-size:45px;font-family:Pacifico; color:#fff; text-shadow: 0 0 10px rgba(0,0,0,1) }
.jumbotron.chaperonrouge h2 { color:#fff; text-shadow: 0 0 10px rgba(0,0,0,1) }
.jumbotron.chaperonrouge h2 small { color:#fff; }

.jumbotron h1
{
  font-size:30px; padding:0 0 5px; color:#666
}

.navbar-brand .beta {color:#dc0434;background:none;  vertical-align: super; font-size: 70%; }
@media (max-width: 435px) {
.navbar-brand .uizzyourself { display:none }
}
h1 .beta {color:#dc0434;background:none;  vertical-align: super; font-size: 50%; }

.pub-accueil { text-align: center; padding-top:20px; padding-bottom:20px; color:#fff; 
background: url("../images/ecran-4-black.png") center 60% no-repeat; background-size: 1200px; background-color:#E70437;
}

.pub-accueil .btn-line {
  background:none; border:solid 2px #fff; border-radius: 30px; line-height:30px; padding:15px 30px; font-size: 25px; height:60px; color:#fff   
}

.btn-line:hover {
}

@media (max-width: 435px) {
.pub-accueil .btn-line {
  border-radius: 25px; line-height:22px; padding:14px 15px; width: 100%; font-size: 20px; height:50px; color:#fff   
}
}


/*    pub    */

.pub-accueil .presentation h2 {
  font-family: "Pacifico", "Helvetica Neue", Helvetica, Arial, sans-serif; margin-bottom:25px;
}

spam.pacifico {
  font-family: "Pacifico", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pub {background-color:#E70437; box-shadow: box-shadow: 0px 0px 9px rgba(0,0,0,0.9); border-radius:4px;  text-align: center; padding-top:10px; padding-bottom:20px; color:#fff; }
.pub .presentation { padding:30px 0; margin:0 40px; border:none; border-top: 1px solid rgba(255,255,255,0.4)}
.pub .esthetique { background:none; padding:20px 40px 40px }

.pub a, .pub a:hover, .pub a:active{ color:#fff }

.pub ul { list-style-type: none; list-style-type: none;    padding:0;    margin: 0;
}
.pub li { padding:0; margin:0 }

.pub ul { list-style-type: none; list-style-type: none;    padding: 15px 0 ;    margin: 0; }
.pub li { display: inline; padding: 0}

.pub .contact, .pub .mentions, .pub .ensavoirplus { padding-bottom:50px; padding-top:30px; margin: 0;  }

.pub .esthetique { background: url("../images/ecran-4-black.png") center top no-repeat; background-size: 520px; }

@media (min-width: 768px) { 
  .pub { padding-top:40px; padding-bottom:0;  }
  .pub .presentation { padding:30px ; margin:0 40px ; border:none; border-top: 1px solid rgba(255,255,255,0.4)}
  .pub .esthetique { padding-top: 70px; padding:20px 40px 40px }
}

@media (min-width: 992px) {
  .pub { background-position: right 50px ; background-size: 650px; }
  .pub .presentation { display: inline; padding:30px 20px 50px; margin: 20px 0 0 0; border:none; border-left: 1px solid rgba(255,255,255,0.4) }
  .pub .esthetique { padding-top: 70px;  }
}

@media (min-width: 1200px) {
  .pub .presentation { border-bottom: none; }
  .pub  { background-position: right 20px ; background-size: 800px;}
  .esthetique { padding-top: 70px; }
}

/* Customize container */





/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;  background-color:#EFEBE7;
  /* The html and body elements cannot have any padding or margin. */
}

body.bg_image
{
  background:url("../images/petitchaperonrouge.jpg");background-position: right center;
  background-size: cover;
}
body {
overflow-x:hidden;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}


/*.form-signin {
  margin: 0 auto;
}
*/
h1.form-signin-heading {
  margin-bottom:10px; text-align:center; font-family: "Pacifico", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ada784;
 
}

@media (min-width: 768px) {
h1.form-signin-heading {
  font-size:45px;
}
}

.form-signin .checkbox {
  margin-bottom: 30px;
}
.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  margin-top: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
*/
/* Custom login CSS end
-------------------------------------------------- */


body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

.sorted_table tr {
  cursor: pointer; }

.sorted_table tr.placeholder {
  display: block;
  background: red;
  position: relative;
  margin: 0;
  padding: 0;
  border: none; 
}
  /* line 100, application.css.sass */
.sorted_table tr.placeholder:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: red;
    margin-top: -5px;
    left: -5px;
    border-right: none; 
}

.btn-shadow.btn-primary {
  box-shadow: 0px 0px 0px 5px rgba(94,182,221,0.35); 
}

.btn-shadow.btn-success {
  box-shadow: 0px 0px 0px 5px rgba(143,207,60,0.35); 
}

.btn-shadow.btn-warning {
  box-shadow: 0px 0px 0px 5px rgba(254,156,3,0.35); 
}

.btn-shadow.btn-danger {
  box-shadow: 0px 0px 0px 5px rgba(206,6,51,0.35); 
}


.btn-line {
  background:none; border:solid 2px #fff; color:#fff   
}

.btn-line:hover { background:  rgba(255,255,255,0.2) }


/* alert */

.alert-top { border-top:none; border-left:none; border-right:none; border-radius:0; }
.alert-bottom { border-bottom:none; border-left:none; border-right:none; border-radius:0; }
.alert-bottom-top { border-left:none; border-right:none; border-radius:0; }
.alert-resultatpublic:before, .alert-resultatpublic:after { top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
.alert-resultatpublic:after { border-color: rgba(143, 207, 60, 0); border-top-color: #8FCF3C; border-width: 6px; margin-left: -6px; }
.alert-resultatpublic:before { border-color: rgba(143, 207, 60, 0); border-top-color: #8FCF3C; border-width: 7px; margin-left: -7px; }
.alert-resultatpublic {padding: 2px 15px; text-align:center; position:relative; z-index:10 }

/* table */
.thumbnail 
{ 
/*  box-shadow: 0px 1px 1px rgba(0,0,0,0.05); 

  border:1px solid #c7c1a1; position: relative;
*/
  border:none; position: relative; height:250px; background:transparent
}

.thumbnail .img 
{
    border-top-left-radius: 5px; border-top-right-radius: 5px;
    background:#5EB6DD; width:100%; height:100px; margin:0;z-index: 900
}

.theme .thumbnail .img 
{
  background:url("../images/quadrillage.png") repeat #3B7EC1; box-shadow: none; height:50%; 
}
.dossier .thumbnail .img 
{
  background:url("../images/carton.jpg"); box-shadow: none; height:50%; 
}
.theme .thumbnail .img.perso
{
  background-color: #5EB6DD;
}

.theme .thumbnail .img.entreprise
{
  background-color: #0099B6;
}


.thumbnail  .content { 
  background:#fff; padding: 10px; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;  position:relative; text-align: center;
}
.thumbnail  .content h4{ 
  font-size:28px; line-height:28px; 	white-space: normal
}

.thumbnail p.etat { font-size:15px; border-top: solid 1px #3d8db2; position: absolute; text-align:center; top:80px; right:0; left:0; padding: 2px 10px; z-index:5; }
.thumbnail p.etat.brouillon { background:rgba(220,220,220,1);  color:#666 }
.thumbnail p.etat.ouvert { background:rgba(143,207,60,1); color:#fff }
.thumbnail p.etat.ferme { background:rgba(231,7,57,1); color:#fff}


.thumbnail .shadow { 
background:rgba(0,0,0,.68); border-radius: 5px; padding:20px;box-shadow: inset 0px 0px 100px rgba(0,0,0,0.6);
position: absolute; top:0 ; left:0; right:0; bottom:0 ; z-index: 10; display:none
}

.thumbnail:hover .shadow, .thumbnail.hover .shadow { 
  display:block; 
}


.thumbnail .shadow .btn  { 
  margin: 50px auto 50px auto; font-size:20px; line-height:46px; width:50px;height:50px; padding:0; border-radius:25px; text-align:center; display:block
}

.thumbnail .shadow .btn span { 
  display:none
}

.thumbnail .shadow .btn:hover, .thumbnail .shadow .btn.hover{ color:#333; background-color: rgba(143,207,60,1); border-color: rgba(143,207,60,1); width:auto; padding:0 10px; 
}

.thumbnail .shadow .btn.disabled:hover, .thumbnail .shadow .btn[disabled]:hover,.thumbnail .shadow .btn.disabled.hover, .thumbnail .shadow .btn[disabled].hover { color:#eee; }
.thumbnail .shadow .btn:hover span,.thumbnail .shadow .btn.hover span { display:inline; }

.theme .thumbnail .shadow .btn:hover,.theme .thumbnail .shadow .btn.hover { width:50px;  }




.thumbnail .thumbnail-shadow p { position: absolute; top:0 ; right:0; padding: 2px 10px; border-top-right-radius: 3px; border-bottom-left-radius: 6px; }
.thumbnail .thumbnail-shadow.brouillon p { background:rgba(220,220,220,1);  color:#666 }
.thumbnail .thumbnail-shadow.ouvert p { background:rgba(143,207,60,1); color:#fff }
.thumbnail .thumbnail-shadow.ferme p { background:rgba(231,7,57,1); color:#fff}

.thumbnail a, .thumbnail button {
  -webkit-transition: all 0s;
     -moz-transition: all 0s;
       -o-transition: all 0s;
          transition: all 0s;
}

.thumbnail
{
  padding:0; margin-bottom:30px
}

.thumbnail a i + .tooltip > .tooltip-inner {background-color: rgba(143,207,60,1); color:#333;}
.thumbnail a i + .tooltip > .tooltip-arrow { border-bottom-color: rgba(143,207,60,1); }

.thumbnail a.text-danger i + .tooltip > .tooltip-inner {background-color: rgba(231,4,55,1); color:#333;}
.thumbnail a.text-danger i + .tooltip > .tooltip-arrow { border-bottom-color: rgba(231,4,55,1); }

.thumbnail a.inactive i + .tooltip > .tooltip-inner {background-color: #aaa; color:#333;}
.thumbnail a.inactive i + .tooltip > .tooltip-arrow { border-bottom-color: #aaa; }

.thumbnail .info { position: absolute; top:0; left:0; z-index:11;
  text-align:left; display:block; padding: 7px 0 0 10px; color:#fff;  
}
.thumbnail .info span { margin: 0 10px 0 0; display:inline-block; }

.thumbnail .shadow .action { 
  width:100%; text-align: center; font-size:18px;
  position: absolute;  margin: 0; padding: 20 0;  color: #fff; background:none; bottom:10px; left:0
}

.theme .thumbnail .shadow .action { 
  bottom:80px;
}

.theme.fixe { 
  width:200px; margin:30px auto 10px auto
}


.thumbnail .shadow {  
  padding: 10px; 
  }


.thumbnail .shadow .action hr { 
  margin: 12px 0; border-color:#666
  }

.thumbnail .shadow .action  a i { margin: 0 -2px; padding: 0; width:32px; height:32px;font-size:18px; line-height:28px; color:#fff; border-radius: 16px; border:solid 2px rgba(255,255,255,0);}
.thumbnail .shadow .action  a.text-danger i{ color: rgba(231,4,55,1); }

.thumbnail .shadow .action  a:hover i{ background-color: rgba(143,207,60,1); color:#333; border-color: rgba(143,207,60,1); }
.thumbnail .shadow .action  a.text-danger:hover i{ background-color: rgba(231,4,55,1); border-color: rgba(231,4,55,1); }

.thumbnail .shadow .action  a.inactive i{ color: #aaa; }
.thumbnail .shadow .action  a.inactive:hover i{ color:#333; cursor: not-allowed; background-color: #aaa; border-color: #aaa}

.thumbnail .shadow .action  a.wait { cursor:progress; }
.thumbnail .shadow .action  a#supprimer { margin-left:0; margin-right:25% }

.block .thumbnail .shadow .action  a#supprimer { margin-left:0; margin-right:25% }

.theme .thumbnail.plus {
background:url("../images/quadrillage.png") repeat #5EB6DD; 
text-align:center; font-size:100px; color:#fff; padding-top:50px
}

.dossier .thumbnail.plus {
background:url("../images/carton.jpg"); 
text-align:center; font-size:100px; color:#fff; padding-top:50px
}


@media (max-width: 435px) {
.thumbnail .content h4 { text-align:center; font-size:20px; line-height:24px; }
.thumbnail .shadow .action  a i { font-size:20px; line-height:36px; width:40px; height:40px; margin: 0; border-radius: 40px;}
.thumbnail .shadow .btn { margin-bottom: 30px }
}

.dossier i.fa-share, .questionnaire i.fa-share { z-index:1000;
  color: #fff; font-size:22px;background: #8FCF3C; width:36px; height:36px; border-radius:18px; padding:6px; position:absolute; 
  top:-15px; right:0}


.theme .theme_icone i.fa-check { 
  display:none; }

.theme.checked .theme_icone i.fa-check { 
  display:inline;}

.theme.checked { 
  background-color: #dff0d8; box-shadow:inset 0 0 6px rgba(130,194,48,0.9);
  border-color: #d6e9c6;
  color: #468847;
}
  
.theme .thumbnail.plus:hover {
box-shadow: inset 0px 0px 100px rgba(0,0,0,0.9); background-color:#666;
}


.questionnaire.notall .show, .block.notall .show {
  opacity:0.3;
}

.questionnaire .show, .block .show, .theme .show, .dossier .show {
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2); border-radius: 5px; background:#fff;
  height:100%
}


.questionnaire a .thumbnail.plus, .block a .thumbnail.plus {
box-shadow: 0px 0px 5px rgba(0,0,0,0.2); background:#5EB6DD;
text-align:center; font-size:100px; color:#fff; padding-top:50px
}
.questionnaire a  .thumbnail.plus:hover, .block a  .thumbnail.plus:hover {
box-shadow: inset 0px 0px 100px rgba(0,0,0,0.9), 0px 0px 5px rgba(0,0,0,0.2); background:#666;
}

.list-group {
 box-shadow: 0px 0px 5px rgba(0,0,0,0.2); 
  border-radius: 3px;
}



.panel-default { color: #333333; border-bottom: solid 1px #fff ; box-shadow: 0px 0px 5px rgba(0,0,0,0.2); 
}

.panel-default.panel-login { box-shadow: 0px 0px 10px rgba(0,0,0,0.5), 0px 100px 100px  rgba(0,0,0,0.8); border-radius: 10px; border:none}
.panel-default.panel-login .panel-heading { border-top-left-radius: 10px; border-top-right-radius: 10px; }
.panel-default.panel-login .panel-footer { border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }

.panel-default h2{ /*color: #ada784;*/
  margin:15px 15px 25px; text-align:center;
}

@media (max-width: 992px) {
.panel .alert .newblock { border-bottom: 1px solid #abd8eb; margin-bottom: 20px; padding-bottom:10px  }
}

.panel-default .alert{ margin:15px;}


.panel-default  .list-group {  box-shadow:none;}

.modal-content.panel {  border-radius:0;}

.panel-default  .list-group-item { border-left: none; border-right: none;}
.panel-default  .list-group-item:first-child { border-top: none; }

.modal-content.panel .modal-body.panel-collapse { padding:15px 0; margin: 0; border-bottom:3px solid #eee}
.modal-content.panel .modal-body.panel-collapse#param { border-bottom:none}
.modal-content.panel .modal-header { border-bottom:none; border-top:1px solid #ddd}


.modal-body#block, .modal-body#question { padding:0; margin:0}
.modal-body#question { border-bottom:1px solid #ddd}


.modal-body  .list-group {  box-shadow:none;}
.modal-body  .list-group-item { border-left: none; border-right: none;}
.modal-body  .list-group-item:first-child { border-top: none; }
.modal-body  .list-group-item:last-child { border-bottom: none; }

.alert-top.alert-tri { position: relative; z-index: 2; margin: 0 0 5px 0; padding: 10px 15px 10px 8px}
.alert-tri:before, .alert-tri:after { top: 100%; left: 22px; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; }
div.alert-info.alert-tri:after { border-color: rgba(217, 237, 247, 0); border-top-color: #D9EDF7; border-width: 6px; margin-left: -6px; }
div.alert-info.alert-tri:before { border-color: rgba(188, 232, 241, 0); border-top-color: #BCE8F1; border-width: 7px; margin-left: -7px; }

.panel-default .panel-heading .dropdown-menu {font-family:"Helvetica Neue", Helvetica, Arial, sans-serif; text-align:left; }
.panel-default .panel-heading .dropdown-menu li a { color:#666 }
.panel-default .panel-heading .dropdown-menu li a:hover { color:#fff }


.panel-default .alert-top { border-top:none; border-left:none; border-right:none; border-radius:0; margin: 0; }
.panel-default .alert-top { border-top:none; border-left:none; border-right:none; border-radius:0; margin: 0 0 15px 0; }

.alert-inverse.alert-success { background:#8FCF3C; color:#fff ; border: none }
.type-question { color: #ccc; margin:0 0 30px 0 }
.type-question .logo { margin : 0 }
.qys-stack {font-size:11px}

.list-group .list-group-item .panel-collapse { padding:0 0 15px; margin: 15px -15px -10px; background: none; border-bottom:3px solid #eee}

.list-group .list-group-item .panel-collapse .list-group .list-group-item {  padding:5px 10px; background: none; }
.list-group .list-group-item .panel-collapse .list-group .list-group-item:first-child { margin-top:-10px }
.list-group .list-group-item .panel-collapse .list-group .list-group-item:last-child { margin-bottom:-20px; padding-bottom:10px; border-radius:0 }

.list-group .list-group-item .panel-collapse .panel-body { margin:0; padding:0 }


.alert-bottom.alert-goodresult { position: relative; z-index: 2; margin: 8px 0 0 0; padding: 10px 15px 10px 8px}
.alert-goodresult:before, .alert-goodresult:after {
	top: 100%; left: 22px; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;
}
.alert-info.alert-goodresult:after {
	border-color: rgba(217, 237, 247, 0); border-top-color: #D9EDF7; border-width: 6px; margin-left: -6px;
}
.alert-info.alert-goodresult:before {
	border-color: rgba(94, 182, 221, 0); border-top-color: #5EB6DD; border-width: 7px; margin-left: -7px;
}
.alert-bottom.alert-item { border-bottom: solid 1px #BCE8F1; border-top: solid 1px #BCE8F1; position: relative; 
  z-index: 2; margin: 8px 0 -1px 0; padding: 0 15px 4px 8px}


.alert-open_in_mix_switch { position: relative;}
.alert-open_in_mix_switch:before, .alert-open_in_mix_switch:after {
	top: 100%; left: 22px; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;
}
.alert-default.alert-open_in_mix_switch:after {
	border-color: rgba(238, 238, 238, 0); border-top-color: #EEEEEE; border-width: 6px; margin-left: -6px;
}
.alert-default.alert-open_in_mix_switch:before {
	border-color: rgba(221, 221, 221, 0); border-top-color: #dddddd; border-width: 7px; margin-left: -7px;
}

button.active[data-switch]:before, .button.active[data-switch]:after {
	top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;
}
button.active[data-switch]:after {
	border-color: rgba(143,207,60,0); border-bottom-color: #619124; border-width: 6px; margin-left: -6px;
}
button.active[data-switch]:before {
	border-color: rgba(221, 221, 221, 0); border-top-color: #7ab62d; border-width: 7px; margin-left: -7px;
}



.panel-form .panel-heading { font-family: "Dosis", "Helvetica Neue", Helvetica, Arial, sans-serif; text-align:center; font-size:25px; margin:0; color: #5EB6DD; background:#fff;  border-bottom: solid 2px #5EB6DD; }
.panel-form .panel-heading .logo { margin:2px -5px; float:left }

.alert-default { color: #666; background: #eee; border-color: #ddd ;}
.alert-top.resultatpublic { text-align:center;}
.alert-top.resultatpublic { text-align:center;}

i.noreponse { color:#FE9C03 }

i.noreponse + .tooltip > .tooltip-inner {background-color: #FE9C03; color:#fff;}
i.noreponse + .tooltip > .tooltip-arrow { border-bottom-color: #FE9C03; }


hr.or { margin:60px 0 }

hr.or:before {
  content: "ou"; background:#fff; color:#fff; padding:20px 22px; border-radius:20px; margin:-30px -30px; left:50%; height:60px; width:60px; position: absolute;
}

hr.or:after {
  content: "ou"; background:#999; text-align:center; color:#fff; padding:0 ; border-radius:20px; margin:-20px -20px; line-height:40px; height:40px; width:40px; left:50%; position: absolute;
}

@media (max-width: 1200px) {
}

@media (max-width: 435px) {
.panel-form .panel-heading .logo { margin:5px auto; float:none }

}

.panel-form .panel-footer { background:#fff; border-color: #EDEBE4 }



.panel-body .form_secure { border:none; border-bottom:1px solid #ddd; margin-bottom: 20px; padding-bottom: 20px}


@media (min-width: 768px) {
.panel-body .form_secure { border:none; border-right:1px solid #ddd; }
}


/* graph */
.panel-graph {padding:0 0 20x 0 }
.graph {height:10px; margin:10px 0; }
.alert-graph {margin:10px 0; padding: 5px 10px}
ul.legende li{ display:inline-block;  list-style-type: none; margin-right: 20px; color:#666 }
ul.legende { text-align:left; margin-left:0; padding:0; padding-bottom: 20px}

.graph .graph-baton {width:50%; padding:5px 0 ; margin:0; float:left; position: relative;}
.graph .progress {  border-bottom-left-radius:0; border-top-left-radius:0; margin:5px 0 0 0; height:16px; background:none; box-shadow:none; 
font-size:12px;}

.graph .progress-bar {  border-bottom-right-radius:4px; border-top-right-radius:4px; }
.graph .graph-label { vertical-align:center; border-right:solid 1px #ddd; text-align: right; width:50%; padding:5px 15px 5px 5px; margin:0; float:left; font-size:12px; line-height:16px; color:#999}
.graph .graph-label .qys-text-success { color: #8FCF3C ; font-size:15px;}

.graph .graph-item { display:block; float:left; width:100% }

.graph .graph-item:first-child { margin-top:20px }
.graph .text-open { max-height:250px; font-size:12px; overflow-y:auto; float:left; position:relative; display:block; }
.graph > .text-open { padding: 0 20px 20px }

.graph .cloud-open { max-height:250px; font-size:12px; overflow-y:auto; float:left; position:relative; display:block; }

.graph .graph-open, .graph .graph-commentaire {position:relative; display:block; margin: 20px 0 10px; padding-top:10px; }


.panel-collapse .graph .graph-open, .panel-collapse .graph .graph-commentaire {margin: 20px 15px 10px; }

.graph .graph-open .text-primary, .graph .graph-commentaire .text-primary { color: #297291 }

.graph .graph-open:before, .graph .graph-open:after, .graph .graph-commentaire:before, .graph .graph-commentaire:after {
	top: -14px; left: 45%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; 
}
.graph .graph-open:after {
	border-color: rgba(255,255,255, 0); border-bottom-color: #D9EDF7; border-width: 9px; margin-left: -9px; 
}
.graph .graph-open:before {
	border-color: rgba(204, 204, 204, 0); border-bottom-color: #BCE8F1; border-width: 7px; margin-left: -7px; 
}

.graph .graph-open .text-open { text-align:center }


h4 .check_true {bacground:#E70437; color:#fff; position:absolute; top:0; bottom:0; width:30px; z-index:1000}
h4 .check_false {bacground:#E70437; color:#fff; position:absolute; top:0; bottom:0; width:30px}


.progress-bar[aria-valuenow="0"]
{
  color: #333; margin-left:5px
}





.sidebar a { 
  -webkit-transition: all 0s;
     -moz-transition: all 0s;
       -o-transition: all 0s;
          transition: all 0s;
}

.sidebar { border: none ; 
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2); 
}

.sidebar .panel-heading h4 a { color:#666 }

.sidebar i.fa { width:20px }
.sidebar span i.fa { width:auto; margin-right:5px }
.sidebar li a {
  padding: 9px 10px 8px; border-bottom:1px #ddd solid; 
}
.sidebar li a:hover {
  background: #8FCF3C; color:#fff; border-color: #82C230; margin: 0;
  
}

.sidebar span.badge { background:#5EB6DD; }
.sidebar li a:hover span.badge { color: #8FCF3C;  background:#FFF; }
.sidebar li.active a span.badge { color: #5EB6DD;  background:#FFF; }
.sidebar li.inactive a span.badge { color: #FFF;  background:#ada784; }

.sidebar li.active a {
  color: #fff; background:#5EB6DD;  border-color: #3d8db2; margin: 0px;  
  padding: 9px 10px 9px 10px ;  z-index:10
}

.sidebar li.inactive a {
  color: #ada784; background:#F6F5F1; padding: 10px; border:none; border-bottom:1px #ddd solid; margin:0;cursor: not-allowed;  }
.sidebar li.inactive a:hover { padding: 10px; margin:0;}

.sidebar li:first-child a { border-top-left-radius: 3px; border-top-right-radius: 3px; 
}
.sidebar li:last-child a {border-bottom:none;  border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }

.sidebar li.active a { position: relative; z-index: 2; }

.sidebar li.byquestion a, .sidebar li.byparticipant a { padding-left: 20px }

/* colorpalette css */

.bootstrap-colorpalette {
    padding-left:4px;
    padding-right:4px;
    white-space: normal;
    line-height:1;
}

.bootstrap-colorpalette div {
    line-height:0;
    width: 264px;
}

.bootstrap-colorpalette .btn-color {
    width: 33px;
    height: 33px;
    border: 1px solid #fff;
    margin: 0;
    padding: 0;
}

.bootstrap-colorpalette .btn-color:hover {
    border: 1px solid #000;
}

/* colorpalette css end*/

/* diffuser */
.via_reseau { border-top:1px #ddd solid; border-left:none, margin-bottom:40px; margin-top:40px; padding-top:20px; padding-bottom:0 }
.via_web_side { border-top:1px #ddd solid; margin:20px -15px 5px; padding:15px}


@media (min-width: 992px) {

.via_reseau { border-left:1px #ddd solid; border-top:none; margin-top:0; margin-bottom:0; padding-top:0; padding-bottom:20px}
}

/* diffuser end */



/* cartouche */
.cartouche { position: relative; margin-top:40px; padding: 20px 15px 0px}
.cartouche .pull-left .cartouche-img img 
{
    opacity: 0.3; width:100%; 
    transform:rotate(-8deg);
    -webkit-transform:rotate(-8deg);
    -ms-transform:rotate(-8deg); 
}

.cartouche h1 {font-size:25px}
.well-plato span.etat { font-size:15px; position: absolute; left:15px; text-align:center; top:-41px; padding: 3px 15px;}
.well-plato span.etat.brouillon { background:rgba(50,50,50,0.3);  color:#fff }
.well-plato span.etat.ouvert { background:rgba(143,207,60,0.8); color:#fff }
.well-plato span.etat.ferme { background:rgba(231,7,57,0.8); color:#fff}
.progress-participant, .progress-question { height:2px; position:relative; overflow-x: visible; overflow-y: visible; margin-top:25px; background-color: rgba(255,255,255,1);}
.progress-participant .progress-bar-success, .progress-question .progress-bar-success { z-index: 11; background-color: rgba(255, 255, 255, 1); box-shadow: -3px 0 5px 1px rgba(143,207,60,0.85); position: absolute; border-radius: 2px }
.progress-participant .progress-bar-success-max, .progress-question .progress-bar-success-max { z-index: 10; position: absolute; border-radius: 2px; width:0px; height:2px; background-color: rgba(255, 255, 255, 1); box-shadow: 0 0 5px 3px rgba(143,207,60,0.85), 0 0 7px 5px rgba(143,207,60,0.85); }
.progress-participant .progress-bar-premium { position: absolute; height:2px; right:0 ; background-color: rgba(230,14,106,1); opacity:0.3; }
.progress-participant .progress-bar-premium-min { position: absolute; height:2px; right:0 ; background-color: rgba(230,14,106,1); }

.progress-question .progress-bar-warning { position: absolute; height:2px; right:0 ; background-color: rgba(254,156,3,1); opacity:0.4; }
.progress-question .progress-bar-danger, .progress-participant .progress-bar-danger { right:0; position: absolute; height:2px; background-color: rgba(231,7,57,1); opacity:0.4; border-radius: 0 7px 7px 0 }
.progress-question .progress-bar-danger-min, .progress-participant .progress-bar-danger-min  { position: absolute; width:1px; right:0; height:2px; background-color: rgba(231,7,57,1); opacity:0;}
.progress-question .progress-bar-warning-min { position: absolute; width:1px; height:2px; right:0 ; background-color: rgba(254,156,3,1); opacity:0;}


.progress-bar-success-max + .tooltip > .tooltip-inner {background-color: rgba(143,207,60,1); color:#fff;}
.progress-bar-success-max + .tooltip > .tooltip-arrow { border-top-color: rgba(143,207,60,1); }

.progress-bar-danger-max + .tooltip > .tooltip-inner,
.progress-bar-danger-min + .tooltip > .tooltip-inner,
.progress-bar-danger + .tooltip > .tooltip-inner {background-color: rgba(231,7,57,1); color:#fff;}
.progress-bar-danger-max + .tooltip > .tooltip-arrow,
.progress-bar-danger-min + .tooltip > .tooltip-arrow{ border-bottom-color: rgba(231,7,57,1); }
.progress-bar-danger + .tooltip > .tooltip-arrow { border-top-color: rgba(231,7,57,1); }

.progress-bar-warning-max + .tooltip > .tooltip-inner,
.progress-bar-warning-min + .tooltip > .tooltip-inner,
.progress-bar-warning + .tooltip > .tooltip-inner {background-color: rgba(254,156,3,1); color:#fff;}
.progress-bar-warning-max + .tooltip > .tooltip-arrow,
.progress-bar-warning-min + .tooltip > .tooltip-arrow{ border-bottom-color: rgba(254,156,3,1); }
.progress-bar-warning + .tooltip > .tooltip-arrow { border-top-color: rgba(254,156,3,1); }

.progress-bar-premium-max + .tooltip > .tooltip-inner,
.progress-bar-premium-min + .tooltip > .tooltip-inner,
.progress-bar-premium + .tooltip > .tooltip-inner {background-color: rgba(230,14,106,1); color:#fff;}
.progress-bar-premium-max + .tooltip > .tooltip-arrow,
.progress-bar-premium-min + .tooltip > .tooltip-arrow{ border-bottom-color: rgba(230,14,106,1); }
.progress-bar-premium + .tooltip > .tooltip-arrow { border-top-color: rgba(230,14,106,1); }


.cartouche .media-body{ text-align: center }
.cartouche.profil, .cartouche.entreprise { text-align: left; font-size:15px; }

.cartouche.profil  .media-body h1, .cartouche.entreprise  .media-body h1 { margin-top:20px }
.cartouche .media-body .info{ font-size:13px; color:#999 }
.cartouche .media-body .text{ font-size:15px; color:#555 }
.cartouche .media-body .text{ font-size:15px; color:#555 }


@media (max-width: 768px) {

.cartouche.profil, .cartouche.entreprise { text-align: left }
.cartouche .pull-left { display:none; }
.cartouche .media-body .btn { width:100% }
}

.jumbotron hr { border-color:#ddd; margin-bottom: 30px }

/*.jumbotron .background:before {
	top: 100%; left: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none;
}

.jumbotron .background:before {
	border-color: rgba(0, 0, 0, 0); border-top-color: rgba(0, 0, 0, 0.5); border-width: 20px; margin: 0 -10px
}
*/

.btn-social{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social.btn-lg{padding-left:61px}.btn-social.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social.btn-sm{padding-left:38px}.btn-social.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social.btn-xs{padding-left:30px}.btn-social.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon{position:relative;padding-left:44px;text-align:left;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height:34px;width:34px;padding-left:0;padding-right:0}.btn-social-icon :first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-social-icon.btn-lg{padding-left:61px}.btn-social-icon.btn-lg :first-child{line-height:45px;width:45px;font-size:1.8em}
.btn-social-icon.btn-sm{padding-left:38px}.btn-social-icon.btn-sm :first-child{line-height:28px;width:28px;font-size:1.4em}
.btn-social-icon.btn-xs{padding-left:30px}.btn-social-icon.btn-xs :first-child{line-height:20px;width:20px;font-size:1.2em}
.btn-social-icon :first-child{border:none;text-align:center;width:100% !important}
.btn-social-icon.btn-lg{height:45px;width:45px;padding-left:0;padding-right:0}
.btn-social-icon.btn-sm{height:30px;width:30px;padding-left:0;padding-right:0}
.btn-social-icon.btn-xs{height:22px;width:22px;padding-left:0;padding-right:0}

.btn-facebook{color:#fff;background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-facebook:hover,.btn-facebook:focus,.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{color:#fff;background-color:#30487b;border-color:rgba(0,0,0,0.2)}
.btn-facebook:active,.btn-facebook.active,.open .dropdown-toggle.btn-facebook{background-image:none}
.btn-facebook.disabled,.btn-facebook[disabled],fieldset[disabled] .btn-facebook,.btn-facebook.disabled:hover,.btn-facebook[disabled]:hover,fieldset[disabled] .btn-facebook:hover,.btn-facebook.disabled:focus,.btn-facebook[disabled]:focus,fieldset[disabled] .btn-facebook:focus,.btn-facebook.disabled:active,.btn-facebook[disabled]:active,fieldset[disabled] .btn-facebook:active,.btn-facebook.disabled.active,.btn-facebook[disabled].active,fieldset[disabled] .btn-facebook.active{background-color:#3b5998;border-color:rgba(0,0,0,0.2)}
.btn-google-plus{color:#fff;background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}.btn-google-plus:hover,.btn-google-plus:focus,.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{color:#fff;background-color:#ca3523;border-color:rgba(0,0,0,0.2)}
.btn-google-plus:active,.btn-google-plus.active,.open .dropdown-toggle.btn-google-plus{background-image:none}
.btn-google-plus.disabled,.btn-google-plus[disabled],fieldset[disabled] .btn-google-plus,.btn-google-plus.disabled:hover,.btn-google-plus[disabled]:hover,fieldset[disabled] .btn-google-plus:hover,.btn-google-plus.disabled:focus,.btn-google-plus[disabled]:focus,fieldset[disabled] .btn-google-plus:focus,.btn-google-plus.disabled:active,.btn-google-plus[disabled]:active,fieldset[disabled] .btn-google-plus:active,.btn-google-plus.disabled.active,.btn-google-plus[disabled].active,fieldset[disabled] .btn-google-plus.active{background-color:#dd4b39;border-color:rgba(0,0,0,0.2)}
.btn-linkedin{color:#fff;background-color:#007bb6;border-color:rgba(0,0,0,0.2)}.btn-linkedin:hover,.btn-linkedin:focus,.btn-linkedin:active,.btn-linkedin.active,.open .dropdown-toggle.btn-linkedin{color:#fff;background-color:#005f8d;border-color:rgba(0,0,0,0.2)}
.btn-linkedin:active,.btn-linkedin.active,.open .dropdown-toggle.btn-linkedin{background-image:none}
.btn-linkedin.disabled,.btn-linkedin[disabled],fieldset[disabled] .btn-linkedin,.btn-linkedin.disabled:hover,.btn-linkedin[disabled]:hover,fieldset[disabled] .btn-linkedin:hover,.btn-linkedin.disabled:focus,.btn-linkedin[disabled]:focus,fieldset[disabled] .btn-linkedin:focus,.btn-linkedin.disabled:active,.btn-linkedin[disabled]:active,fieldset[disabled] .btn-linkedin:active,.btn-linkedin.disabled.active,.btn-linkedin[disabled].active,fieldset[disabled] .btn-linkedin.active{background-color:#007bb6;border-color:rgba(0,0,0,0.2)}
.btn-twitter{color:#fff;background-color:#2ba9e1;border-color:rgba(0,0,0,0.2)}.btn-twitter:hover,.btn-twitter:focus,.btn-twitter:active,.btn-twitter.active,.open .dropdown-toggle.btn-twitter{color:#fff;background-color:#1c92c7;border-color:rgba(0,0,0,0.2)}
.btn-twitter:active,.btn-twitter.active,.open .dropdown-toggle.btn-twitter{background-image:none}
.btn-twitter.disabled,.btn-twitter[disabled],fieldset[disabled] .btn-twitter,.btn-twitter.disabled:hover,.btn-twitter[disabled]:hover,fieldset[disabled] .btn-twitter:hover,.btn-twitter.disabled:focus,.btn-twitter[disabled]:focus,fieldset[disabled] .btn-twitter:focus,.btn-twitter.disabled:active,.btn-twitter[disabled]:active,fieldset[disabled] .btn-twitter:active,.btn-twitter.disabled.active,.btn-twitter[disabled].active,fieldset[disabled] .btn-twitter.active{background-color:#2ba9e1;border-color:rgba(0,0,0,0.2)}

.btn-github{color:#fff;background-color:#444;border-color:rgba(0,0,0,0.2)}.btn-github:hover,.btn-github:focus,.btn-github:active,.btn-github.active,.open .dropdown-toggle.btn-github{color:#fff;background-color:#303030;border-color:rgba(0,0,0,0.2)}
.btn-github:active,.btn-github.active,.open .dropdown-toggle.btn-github{background-image:none}
.btn-github.disabled,.btn-github[disabled],fieldset[disabled] .btn-github,.btn-github.disabled:hover,.btn-github[disabled]:hover,fieldset[disabled] .btn-github:hover,.btn-github.disabled:focus,.btn-github[disabled]:focus,fieldset[disabled] .btn-github:focus,.btn-github.disabled:active,.btn-github[disabled]:active,fieldset[disabled] .btn-github:active,.btn-github.disabled.active,.btn-github[disabled].active,fieldset[disabled] .btn-github.active{background-color:#444;border-color:rgba(0,0,0,0.2)}

.btn-premium { color:#ffdbeb; background: #e60e6a; border-color:#b20b53; }
.btn-premium:hover,.btn-premium:focus,.btn-premium:active,.btn-premium.active,.open .dropdown-toggle.btn-premium{color:#ffdbeb;background-color:#cc0c5f;border-color:#B20B53}
.btn-premium:active,.btn-premium.active,.open .dropdown-toggle.btn-premium{background-image:none}

.btn-pro { color:#fff; background: #0099B6; border-color:#006c82; }
.btn-pro:hover,.btn-pro:focus,.btn-pro:active,.btn-pro.active,.open .dropdown-toggle.btn-pro{ color:#fff; background-color:#00829c; border-color:#006c82 }
.btn-pro:active,.btn-pro.active,.open .dropdown-toggle.btn-pro{background-image:none}

/* 
 * Only for this example - not needed for the buttons
 * ----------------------------------------------------- */
.btn-social-icon {margin-bottom: 4px;}

.social-class .social-hex{font-family:Monaco,Menlo,Consolas,"Courier New",monospace;font-size:10px;opacity:.3;float:right}
.social-class li{margin-bottom:4px}.social-class li:hover .social-hex{opacity:1}
.social-class li:hover code{background-color:#e8e8ee}
.social-class code{cursor:default}


body .btn-group-share { position:fixed; top:90px; right:0; z-index:100; text-align:right; }
.btn-group-share .btn { margin: 3px 0; border-right:none; border-radius:20px 0 0 20px } 
.btn-group-share .btn spam { display: none} 
.btn-group-share .btn:hover spam { display: inline} 

@media (max-width: 435px) {
.btn-group-share .btn i { display: none} 
.btn-group-share .btn:hover i { display: inline} 
.btn-group-share .btn { padding-left:0; padding-right:0 } 
.btn-group-share .btn:hover { padding-left:10px; padding-right:10px } 
}


.btn-inverse {
  border-color:#fff; border-width:2px; color:#fff;
  background:none
}

.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active {
  background:#fff; border-color:#fff;
}

.btn-inverse.btn-danger:hover, .btn-inverse.btn-danger:focus, .btn-inverse.btn-danger:active {
  color:#E70437; background:#fff; border-color:#fff;
}

.btn-xl, .btn-group-xl > .btn
{
  padding-top: 13px;
  padding-right: 25px;
  padding-bottom: 13px;
  padding-left: 25px;
  font-size: 25px;
  line-height: 2;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

/* index */
.simplicite { padding-top: 200px; padding-bottom: 10%; background: url("../images/ecran-2.png") center 20px no-repeat; background-size: auto 160px; }
.efficacite { padding-top: 200px; padding-bottom: 10%; background: url("../images/ecran-4.png") center 20px no-repeat; background-size: auto 160px; }
.esthetique { padding-top: 200px; padding-bottom: 10%; background: url("../images/ecran-3.png") center 20px no-repeat; background-size: auto 160px; }


@media (min-width: 768px) {
.simplicite { padding-top: 70px; padding-bottom: 70px; background-position: right center; background-size: 50%;}
.efficacite { padding-top: 70px; padding-bottom: 70px; background-position: left center; background-size: 50%;}
.esthetique { padding-top: 70px; padding-bottom: 70px; background-position: right center; background-size: 50%;}
}

@media (min-width: 992px) {
.simplicite { background-position: right bottom; }
.efficacite { background-position: left 70%; background-size: 60%; }
.esthetique { background-position: right 50%; }
}

@media (min-width: 1200px) {
.simplicite { background-position: right -50%; }
.efficacite { background-position: left -40%; background-size: 70%; }
.esthetique { background-position: right -20%; background-size: 70%; }
}


.nav-footer { text-align:center }

.nav-footer .container ul.navbar-nav li {
  float: left;  margin: 2px 0 0;
}

.nav-footer .container ul.navbar-nav li a {
  position: relative;
  display: block;
  padding-top: 10px 10px
}


.nav-footer .container .navbar-brand {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

footer .copy {margin: 30px 0 20px; text-align:center}
footer .copy a {color:#333}
footer .copy a:hover, footer .copy a:active {color:#666}


footer .presentation h2 {
  font-family: "Pacifico", "Helvetica Neue", Helvetica, Arial, sans-serif; margin-bottom:25px
}

footer .presentation { 
  padding:30px 40px; 
}

footer a, footer a:hover, footer a:active{ color:#fff }

footer .nav-footer ul, footer .footer-page ul { list-style-type: none; list-style-type: none;    padding:0;    margin: 0;
}
footer .nav-footer li, footer .footer-page li { padding:0; margin:0 }

footer .nav-footer ul { list-style-type: none; list-style-type: none;    padding: 20px 0 ;    margin: 0; }
footer .nav-footer ul.site { list-style-type: none; list-style-type: none;    padding: 30px 0 10px;    margin: 0; }
footer .nav-footer li { display: inline; padding: 0 5px}
footer .nav-footer ul.social li { padding: 0 }

footer .contact  ul { list-style-type: none; list-style-type: none;    padding: 15px 0 ;    margin: 0; }
footer .contact li { display: inline; padding: 0}

footer .contact a { color:#fff; font-weight:bold}
footer .contact a:hover {  text-decoration: none;}


footer .contact, footer .mentions, footer .ensavoirplus { padding-bottom:50px; padding-top:30px; margin: 0; border-top: 1px solid rgba(255,255,255,0.4) }

footer .nav-footer h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; margin: 25px 5px; color:#ddd; }


footer .nav-footer a { color:#999; font-weight:bold}
footer .nav-footer a:hover { color:#666; text-decoration: none;}

footer .footer-page {text-align: center; margin:0; padding-top:15px; background-color:#E70437; color:#fff; }
.beta {text-align: center; margin:0; padding-top:5px;padding-bottom:20px; background-color:#E70437; color:#fff; }

@media (min-width: 768px) {
  footer .presentation { padding-bottom:20px; padding-top:10px; margin: 20px 0 0 0; border-bottom: 1px solid rgba(255,255,255,0.4) }
  footer .contact, footer .mentions, footer .ensavoirplus { height:200px; padding-bottom:20px; padding-top:0; margin: 30px 0; border-top: none }
  footer .contact, footer .mentions { border-left: 1px solid rgba(255,255,255,0.4); }
}

@media (min-width: 1200px) {
  footer .presentation { border-bottom: none; }
  footer .ensavoirplus { border-left: 1px solid rgba(255,255,255,0.4); }
}

.alert-cookies { margin-bottom:0 ; display:none; padding: 5px }

/* faq */
.faq {padding-bottom:50px}
.faq dd {margin-bottom:30px}
.faq dt {margin-bottom:8px}

@media (max-width: 768px) {

/*
.questionnaire, .theme {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  width: 210px; display:block; float:left
}
*/
.theme.fixe { 
  width:200px; margin:30px auto 10px auto; padding:0; float:none
}

}

.slider .theme {
  position: relative;
  min-height: 1px;
  padding:0;width: 200px; display:block; float:left
}

@media (max-width: 435px) {
.questionnaire, .theme {
  width: 100%; 
}
}


/* put toggle bars on the left :: not using button */
.navbar-header .navbar-toggle {
    cursor: pointer;
    position: relative;
    line-height: 0;
    margin: 15px 15px 0 15px;
    padding: 0;
    border: 0;
    background: transparent;
}



/*.navbar-header .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none;
  }
.navbar-header .navbar-nav .open .dropdown-menu > li > a,
.navbar-header .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 10px 15px 10px 5px;
  }

.navbar-nav .btn-group {
margin-top:10px
}
*/
.page-content { padding: 45px 0 0 0; }


html, body {
  height: 100%;
}

body {
  padding: 0 
}




/*** etape **/
.etape { }
.bs-wizard {margin-top: -15px;margin-bottom: 15px;}

.bs-wizard .progress {background:#F7F5F3; border-top: solid 1px #ddd; }
/* .bs-wizard .progress {background:#e3e0dc; border-top: solid 1px #c9c6c3} */
/*Form Wizard*/
.bs-wizard  .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard  .bs-wizard-step + .bs-wizard-step {}
.bs-wizard  .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard  .bs-wizard-step .bs-wizard-info {color: #666; text-align:center; font-size: 14px; margin:-5px 10px 0 10px }
.bs-wizard  .bs-wizard-step  .bs-wizard-dot {color: #fff; position: absolute; width: 30px; height: 30px; text-align:center: display: block; background: #8FCF3C; top: 24px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 15px; border-top: solid 1px #7db535;} 

/*
.bs-wizard  .bs-wizard-step.disabled  .bs-wizard-dot.bs-wizard-io {box-shadow: 0px 0px 0px 5px rgba(255,255,255,0.35); } 
.bs-wizard  .bs-wizard-step.complete  .bs-wizard-dot.bs-wizard-io {box-shadow: 0px 0px 0px 5px rgba(143,207,60,0.55); } 
.bs-wizard  .bs-wizard-step.active  .bs-wizard-dot.bs-wizard-io {box-shadow: 0px 0px 0px 5px rgba(143,207,60,0.55); } 
*/

.bs-wizard  .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0; overflow: visible;}
.bs-wizard  .bs-wizard-step > .progress  .progress-bar {width:0px; box-shadow: none; height: 8px; background: #8FCF3C; border-top: solid 1px #7db535; margin-top:-1px;  z-index:1000   }
.bs-wizard  .bs-wizard-step.complete > .progress > .progress-bar {width:100%; }
.bs-wizard  .bs-wizard-step.active > .progress > .progress-bar {width:50%; }
.bs-wizard  .bs-wizard-step.inactive > .progress > .progress-bar {background:#e3e0dc; border-top: solid 1px #c9c6c3}
.bs-wizard  .bs-wizard-step.inactive span.bs-wizard-dot{ color:#b0aeab;background-color: #e3e0dc; border-top: solid 1px #c9c6c3; cursor: not-allowed;}
/* .bs-wizard  .bs-wizard-step.inactive span.bs-wizard-dot{ color:#b0aeab;background-color: #e3e0dc; border-top: solid 1px #c9c6c3; cursor: not-allowed;} */
.bs-wizard  .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard  .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard  .bs-wizard-step.disabled  .bs-wizard-dot {background-color: #F7F5F3; border-top: solid 1px #ddd}
/* .bs-wizard  .bs-wizard-step.disabled  .bs-wizard-dot {background-color: #e3e0dc; border-top: solid 1px #c9c6c3} */
.bs-wizard  .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard  .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard  .bs-wizard-step.disabled span.bs-wizard-dot{ color:#A0CBDD}
.bs-wizard  .bs-wizard-step.disabled span.bs-wizard-dot:hover { color:#5EB6DD}

.bs-wizard  .bs-wizard-step  .bs-wizard-dot > i.fa {width:20px;  font-size: 15px; height:20px; margin:6px 5px 5px 5px}
.bs-wizard  .bs-wizard-step  .bs-wizard-dot > i.fa-list {width:20px;  font-size: 15px; height:20px; margin:7px 5px 5px 5px}
/*.bs-wizard  .bs-wizard-step  .bs-wizard-dot > i.fa-play {width:20px;  font-size: 15px; height:20px; margin:6px 5px 5px 10px}
*/
.bs-wizard  .bs-wizard-step  .bs-wizard-dot > i.fa-pie-chart {width:20px;  font-size: 15px; height:20px; margin:7px 5px 5px 5px}

@media (max-width: 768px) {
  .bs-wizard  .bs-wizard-step .bs-wizard-info { display:none; }
}
/*@media (min-width: 769px) {
  .bs-wizard  .bs-wizard-step span.bs-wizard-dot{ pointer-events: none }
}
/*END Form Wizard*/


/*     logo  et button    */
.logo span.top, .logo span.middle, .logo span.bottom { z-index:1; font-family: courier; font-weight:bold; display:inline-block;text-align:center;}
.logo span.fa-stack-1x.bg { margin-top:10px;margin-left:-7px; z-index:0; color:rgba(224,246,255,0.4) }
.logo span i { width:10px; }
.logo { letter-spacing:2px; width:30px; font-size:10px; line-height:10px; display:block; text-align:center; margin:10px auto 20px auto }
.btn-question { vertical-align: top; white-space: normal; text-align:center; margin:5px 5px 15px; border-radius:1px; width:120px }

@media (max-width: 435px) {
.logo { letter-spacing:2px; width:30px; font-size:10px; line-height:10px; display:block; float:left; text-align:left; margin:5px auto 5px auto }
.btn-question { vertical-align: middle; white-space: normal; text-align:left; margin:0; border-radius:1px; width:100% }
.btn-question span.text { padding: 10px 0 10px 10px; display:table}

}

/*  slider  */

.slider.slider-horizontal
{
  text-align: left; padding: 25px 20px 0 20px; float:left; width:250px;
}

.slider-val
{
  text-align: center; margin-top:-4px; margin-left:10px; width:30px; padding: 5px 0; float:left; font-size:15px; line-height:18px; border-radius:3px; border:solid 1px rgba(0,0,0,0.1); background:rgba(0,0,0,0.1)  
}



.slider .tooltip.top {
  margin-top: -50px;
}

.slider.slider-horizontal .slider-handle {
  margin-left: -13px;
  margin-top: -10px;
}

.slider-handle {
  width: 26px;
  height: 26px;
}

/*  rating  */

.rating {
  unicode-bidi: bidi-override; 
  direction: rtl;
  font-size: 40px;
}
.rating span.star,
.rating span.heart {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}
.rating span.star:hover,
.rating span.heart:hover {
  cursor: pointer;
}
.rating span.star:before {
  content: "\f006";
  padding-right: 5px;
  color: #ffcc00;
}
.rating span.star:hover:before,
.rating span.star:hover ~ span.star:before {
  content: "\f005";
  color: #ffcc00;
}

.rating span.heart:before {
  content: "\f08a";
  padding-right: 5px;
  color: #ff00cc;
}
.rating span.heart:hover:before, .rating span.heart:hover ~ span.heart:before,
.rating span.heart.selected:before, .rating span.heart.selected ~ span.heart:before {
  content: "\f004";
  color: #ff00cc;
}

.rating-smile {
  font-size: 40px;
}

.rating-smile span {
  padding-right: 5px; color:#8FCF3C; width:50px; height:50px; text-align:center; padding:0; 
}

.rating-smile span.active {
  width:50px; height:50px; line-height:50px; color:#D9EDF7; background:#8FCF3C; 
  border-radius:25px; text-align:center; padding:0
}



/************/

/*  graph  */


.radar-legend  .dl-horizontal dt {
    float: left;
    width: 30px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
.radar-legend  .dl-horizontal dd {
    margin-left: 40px;
  }
.radar-legend  .dl-horizontal dd:before,
.radar-legend  .dl-horizontal dd:after {
    content: " ";
    display: table;
  }
.radar-legend  .dl-horizontal dd:after {
    clear: both;
  }
.radar-legend  .dl-horizontal dd:before,
.radar-legend  .dl-horizontal dd:after {
    content: " ";
    display: table;
  }
.radar-legend  .dl-horizontal dd:after {
    clear: both;
  }



.doughnut-container {
  width: 300px; 
  padding-right: 190px;
  margin:20px auto 20px auto;
}

.doughnut-container canvas{
  position: relative; display:inline;
  float:left
}
.radar-container {
  width: 100%; display:block; 
  position: relative;
  margin:20px 0 0 0;
}

.doughnut-container .doughnut-legend {
  list-style: none; position: absolute; margin:30px 0 0 130px
}
.doughnut-legend li {
  display: block;
  padding-left: 30px;
  text-align:left;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 0 8px 0 24px;
  font-size: 12px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}
.doughnut-legend li:hover {
  background-color: #fafafa;
}
.doughnut-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border-radius: 5px;
}

@media (max-width: 435px) {

  .doughnut-container {
    width: 200px; display:block; 
    position: relative;
    padding-right: 0;
    padding-top: 85px;
    margin:20px auto 20px auto;
  }

  .doughnut-container .doughnut-legend {
  list-style: none; 
  position: absolute;
  margin:-70px 0 0 0
}


/*  .doughnut-container {
    padding-right: 180px;
  }
*/
  .radar-container {
    width: 100%; margin:20px auto 0 auto;
    position: relative;
  }
}

@media (max-width: 768px) {
  .radar-container {
    width: 300px; margin:20px auto 0 auto;
    position: relative;
  }

}

.cloud-open ul {
    padding: 1em;
    box-sizing: border-box; -moz-box-sizing: border-box;}

.cloud-open ul li { display: inline-block; margin-right: 1em; }

.cloud-open ul span {
    display: inline-block; width: 0; overflow: hidden; }

.cloud-open ul:empty { display: none; }

/************/


/*   Theme   */
.input-group .selectedColorShow {
  position: absolute; top:9px; left:9px; font-size:20px
}
.selectedColor { padding-left:35px
  
}

.theme-bg { 
  background:url("../images/quadrillage.png") repeat #3B7EC1; 
  margin: 30px 0; 
  padding: 0 50px ; 
  box-shadow: inset 0px 8px 8px rgba(0,0,0,0.25), inset 0px -8px 8px rgba(0,0,0,0.25);
  height:300px; overflow-y: scroll
}

.panel-theme {
  margin: 50px 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #247a9e; 
  font-size:15px; 
  border: none; padding:0; 
  box-shadow: 15px 15px 15px rgba(0,0,0,0.5); 
  color:#fff ; overflow-x: hidden;
  border-radius:0px;
  text-align:center
}

.panel-theme h1{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.panel-theme .progress
{
  display:block; background: rgba(255, 255, 255, 1); border-radius:0; display:none; height:20px; margin: 0 0 15px 0; border: none;
}

.panel-theme .quizz-progress-bar
{
  color: #FFF; height:20px; width: 0%; font-size:15px; border: none; background-color: #8FCF3C 
}

.panel-theme .quizz-progress-bar-max
{
  opacity:.2; height:20px; width: 0%; font-size:15px; border: none;
}

.panel-theme .quizz-progress-bar[aria-valuenow="0"]
{
  color: #333;  
}

.panel-theme .control-label
{
  text-align: left; 
  font-size:20px; font-weight:normal; padding : 0
}

.panel-theme .form-horizontal .slider-slider
{
  text-align: left; padding: 0 20px 0 15px; float:left; width:250px;
}

.panel-theme .form-horizontal .slider-val
{
  text-align: center; width:30px; padding: 5px; float:left; font-size:17px; line-height:20px; border-radius:3px; border:solid 1px rgba(0,0,0,0.1); background:rgba(0,0,0,0.1)  
}


.panel-theme .single, .panel-theme .form-group {
  padding: 0 30px
}


.panel-theme .slider.slider-horizontal {
  margin: 20px 0
}

.panel-theme .slider .tooltip.top {
  margin-top: -50px;
}

.panel-theme .slider.slider-horizontal .slider-handle {
  margin-left: -13px;
  margin-top: -11px;
}

.panel-theme .slider-handle {
  width: 26px;
  height: 26px;
}

.panel-theme .open_in_mix input.form-control + .form-control-feedback
{
  position: absolute;
  padding-top: 0px;
  padding-right: 12px;
  padding-bottom: 0px;
  padding-left: 0px;
  font-size:18px; top:28px; left:8px;
  vertical-align: middle; color:rgba(0,0,0,0.1)
}

.panel-theme .open_in_mix input.form-control:hover + .form-control-feedback,
.panel-theme .open_in_mix input.form-control:focus + .form-control-feedback
{
 color:rgba(0,0,0,0.3)
}

.panel-theme .open_in_mix.active input.form-control + .form-control-feedback,
.panel-theme .open_in_mix.active input.form-control:hover + .form-control-feedback,
.panel-theme .open_in_mix.active input.form-control:focus + .form-control-feedback
{
 color:#8FCF3C
}

.panel-theme .open_in_mix input.form-control
{
padding-left:50px
}

.panel-theme .open_in_mix, .panel-theme .commentaire_in_mix
{
  padding:20px 0 0 0; position:relative
}

/*  rating  */

.panel-theme .rating {
  unicode-bidi: normal; 
  direction:  	ltr;
  font-size: 40px;
}


.panel-theme .rating-smile {
  font-size: 70px;
}

.panel-theme .rating-smile span {
   text-align:center; padding-right: 5px; color:#8FCF3C; width:80px; height:80px; text-align:center; padding:0; line-height:80px; 
}

.panel-theme .rating-smile span:hover, .rating-smile span.active {  
  border-radius:40px; 
}

.panel-theme .slider-val { margin-top:20px }

.panel-theme .prevnext { margin-top:20px }

.panel-theme .prevnext .btn.next.inactive { opacity:0.3 } 
.panel-theme .prevnext .btn.prev { padding-right:12px; padding-left:8px } 
.panel-theme .prevnext .btn.next { padding-right:8px; padding-left:12px } 

.panel-theme .prevnext .btn.prev span { margin-left:10px; margin-right:5px} 
.panel-theme .prevnext .btn.next span { margin-right:10px; margin-left:5px } 


@media (max-width: 435px) {

  .theme-bg { padding: 5px; } 

  .panel-theme { box-shadow: 0 0 5px rgba(0,0,0,0.5);  }
  .panel-theme .single, .panel-theme .form-group {  padding: 0 15px }

  .panel-theme .prevnext .btn.prev { padding-right:14px; padding-left:15px } 
  .panel-theme .prevnext .btn.next { padding-right:15px; padding-left:14px } 

}

.panel-theme .btn.debut
{
  width:120px; height:120px; margin: 30px auto 70px; padding: 35px 5px ; border-radius:60px; display:block; font-size:16px; line-height:22px; display: block; white-space:normal;
  box-shadow: 0px 3px 3px 0 rgba(0,0,0,0.35), 0px 0px 0px 25px rgba(94,182,221,0.15); 
}

.panel-theme .btn.debut:hover
{
  box-shadow: 0px 0px 10px 10px rgba(94,182,221,0.85), 0px 0px 0px 25px rgba(94,182,221,0.15); padding: 36px 5px ;
}

.panel-theme .btn-single i.fa-check { 
  font-size:18px; height:20px; vertical-align:50%; width:50px; padding-left:7px; display:block; float:left;  
  color: rgba(255, 255, 255, 0.09)
}

.panel-theme .btn-single.active i.fa-check, .panel-theme .btn-multi.active i.fa-check, 
.panel-theme .btn-single.active:hover i.fa-check, .panel-theme .btn-multi.active:hover i.fa-check { 
  color: #8FCF3C
}

.panel-theme .btn-single, .btn-multi { text-align: left; position:relative}
.panel-theme .btn-single span, .panel-theme .btn-multi span { padding-left:50px; display:block; padding-right:10px; width:100%; }

.panel-theme .btn-single:hover i.fa-check, .btn-multi:hover i.fa-check { 
  color: rgba(255, 255, 255, 0.6)
}

.panel-theme .btn-single > i.fa-chevron-right { 
  position:absolute; font-size:15px; top:8px; right:10px; color: rgba(255, 255, 255, 0.6); display:none;
}

.panel-theme .btn-single:hover i.fa-chevron-right { display:block }

.panel-theme .form-group .control-label
{
  text-align: center; width: 100%;
  font-size:15px; font-weight:normal; 
}

.panel-theme .form-group .matrice-slider
{
  text-align: left; padding: 0 20px 0 35px; float:left; width:250px; margin-top:-15px; margin-bottom: -15px
}

.panel-theme .form-group .slider-val
{
  text-align: center; margin-top:30px; width:30px; padding: 5px; float:left; font-size:17px; line-height:20px; border-radius:3px; border:solid 1px rgba(0,0,0,0.1); background:rgba(0,0,0,0.1)  
}


/*************/


.fileinput-bg {
  background:url("../images/quadrillage.png") repeat #3B7EC1; 
  box-shadow: inset 0px 8px 8px rgba(0,0,0,0.25), inset 0px -8px 8px rgba(0,0,0,0.25);
}

.fileinput-button { color:#eee; padding:50px 0 25px ;}


.fileinput-bg #deleteLogo {position: absolute; right:25px; bottom:30px ; z-index: 10; background:#FFF; border-radius:30px; color:#1D2C3B; padding:8px 5px }
.fileinput-bg #deleteLogo:hover {background:#E70739; color:#1D2C3B;  }

.fileinput-bg .fileinput-button #addLogo {background:#FFF; line-height:45px; height:45px; margin: -20px 25px 0 0; width:45px; border-radius:25px; color:#3B7EC1; padding:0 }
.fileinput-bg .fileinput-button:hover #addLogo {background:#8FCF3C; color:#1D2C3B;  }

.fileinput-bg:hover .fileinput-button, .fileinput-bg .files { 
background:rgba(0,0,0,.68); box-shadow: inset 0px 0px 100px rgba(0,0,0,0.6); 
}


.fileinput-progress.progress
{
  background: rgba(255, 255, 255, 1); border-radius:0;  height:5px; margin: -15px -15px 15px -15px; border: none;
}

.fileinput-progress.progress .progress-bar
{
  color: #FFF; height:5px; width: 0%; font-size:15px; border: none;
}

.fileinput-progress.progress .progress-bar[aria-valuenow="0"]
{
  color: #333;  
}


.img-container
{
  background-color: #f7f7f7;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  text-align: center;
  margin-bottom:20px;
}

.files img {   margin:20px 10%; max-width:300px; max-height:300px; }


/****************

 premium

****************/
i.fa.premium {
  color: #fff; font-size:16px;background: #e60e6a; width:24px; height:24px; border-radius:12px; padding:3px; box-shadow: 0 0 10px rgba(230,14,106,1), 0 0 10px rgba(230,14,106,1),  0 0 10px rgba(230,14,106,1)
}

.questionnaire .plus i.premium,.block .plus i.premium,
.theme .plus i.premium, .sidebar ul.nav li i.premium 
{position:absolute; top:-10px; right:-10px}

.alert-premium {
  color:#ffdbeb; background: #e60e6a; border-color:#b20b53; cursor: pointer; 
}
.alert-premium:hover {
  box-shadow: inset 0 0 10px rgba(0,0,0,.3)
}

.btn.gotopremium i.premium
{position:absolute; top:-10px; right:-10px}

a.gotopremium h3 i.premium
{position:absolute; top:-10px; right:-20px}

a.gotopremium h3 { position: relative; float:left; color: #e60e6a; }



.btn.gotopremium
{position:relative}

/************************/

/************************/


.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

/* Always float the navbar header */
.navbar-header {
  float: left;
}

/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
  visibility: visible !important;
}

.navbar-toggle {
  display: none;
}

.dropdown-header { font-size:15px; color:#777 }

.navbar-collapse {
  border-top: 0;
}

.navbar-brand {
/*  margin-left: -15px; */
}

/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0 -5px 0 0; 
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding: 15px 10px;
}


/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}

/* Undo custom dropdowns */
.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
}

.navbar .navbar-nav .dropdown .dropdown-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.navbar .navbar-nav .dropup .dropdown-menu {
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-width: 1px 1px 0;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 -6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 -6px 12px rgba(0, 0, 0, .175);
}

.dropdown-fullwidth  .dropdown-menu {   
  right: 0;
  left: auto; 
 }

@media (max-width: 435px) {
.navbar-nav > li > a {
  padding: 15px 5px;
}

.dropdown-fullwidth  .dropdown-menu {   
  right: auto;
  left: 0;
 }

}



.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #666; 
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a,
.navbar-default .navbar-nav .open .dropdown-menu .dropdown-header {
  padding: 5px 10px;
}

.navbar .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar .navbar-nav .open .dropdown-menu > .active > a,
.navbar .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #5EB6DD !important;
}
.navbar .navbar-nav .open .dropdown-menu > .disabled > a,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:hover,
.navbar .navbar-nav .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}

/* Undo form expansion */
.navbar-form {
  float: left;
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  border: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* Copy-pasted from forms.less since we mixin the .form-inline styles. */
.navbar-form .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.navbar-form .form-control-static {
  display: inline-block;
}

.navbar-form .input-group {
  display: inline-table;
  vertical-align: middle;
}

.navbar-form .input-group .input-group-addon,
.navbar-form .input-group .input-group-btn,
.navbar-form .input-group .form-control {
  width: auto;
}

.navbar-form .input-group > .form-control {
  width: 100%;
}

.navbar-form .control-label {
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .radio,
.navbar-form .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .radio label,
.navbar-form .checkbox label {
  padding-left: 0;
}

.navbar-form .radio input[type="radio"],
.navbar-form .checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 0;
}

.navbar-form .has-feedback .form-control-feedback {
  top: 0;
}



/**
 * Slider specific styles
 */

.slider {
    position: relative;
    margin: -15px auto -16px; padding:10px 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
 border-radius: 0 0 4px 4px
  
}

.frame {
    position: relative;
    margin: 0 auto;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
    white-space: nowrap;
}

.frame li {
    position: relative;
    display: inline-block;
}

.slides {
    display: inline-block;
}

.simple li .theme {
    margin: 10px 10px 0 ;
}

.simple li .thumbnail {
    margin: 10px 5px ;
}

.variablewidth li {
    margin-right: 10px;

}

.simple li:last-child,
.variablewidth li:last-child,
.multipleelements li:last-child,
.multislides li:last-child,
.ease li:last-child {
    margin-right: 20px;
}

.btn-prev, .btn-next {
    position: absolute;
    top: 50%;
    margin-top: -25px;
    display: block;
    cursor: pointer;
}

.btn-next {
    right: 0; border-right:none; border-radius: 30px 0 0 30px; padding:15px 5px 15px 10px
}

.btn-prev {
    left: 0; border-left:none; border-radius: 0 30px 30px 0 ;padding:15px 10px 15px 5px
}




h4.user {
    margin-bottom: 0; 
    margin-top: 5px;
}

/* circle */
.circle {
    text-align: center; position: relative; 
    margin-bottom: 20px;
    margin-top: 50px;
    font-size: 15px;
    line-height: 1.2;
}

.circle.echelle {
    margin-top: 0;
}


.circle.user {
    text-align: center; position: relative; 
    margin-bottom: 0; margin-left:-5px; margin-right:5px;
    margin-top: 0;
    font-size: 10px;
    line-height: 1.2;
}

.user-btn-group, .jumbotron .circle.user {
    margin-top: 25px; 
}

@media (max-width: 768px) {
  .circle.user { width: 33.3333%; float:left }
  
  .user-btn-group {
    margin-bottom: -15px;
}
  .jumbotron .circle.user {
    margin-top: 5px;
}
}

@media (max-width: 435px) {
  .circle.user { width : 100% }
}

.circle canvas { vertical-align: top;
}

.circle strong {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
}

.circle.user strong {
    position: absolute; background:rgba(0, 0, 0, 0.05);
    top: 3px; left: 13px; color: #666;
    width: 44px; height: 44px; border-radius: 25px;
    text-align: center;
    line-height: 20px; padding:5px 3px;
    font-size: 15px;
}
.circle.user:hover strong i {display:none}
.circle.user strong span {display:none; font-size: 18px;line-height: 33px;}
.circle.user:hover strong span {display:block}

.circle span {
    display: block;
    color: #aaa;
    margin-top: 12px;
}

.circle.user span {
    display: block;
    color: #666;
    margin-top: 0;
}

ul.dropdown-menu>li>a.active:hover{
	background: #419641 !important;
}

ul.dropdown-menu>li>a.active{
	background: #7af086 !important;
}

/* statistic */
.statistic {margin: 20px 0 25px; color:#666; text-align:center; font-size:30px; line-height:35px}

@media (max-width: 435px) {
  .statistic { font-size:20px; line-height:25px }
  .nav-tabs > li > a {padding:5px 8px}
}

/* hljs */
pre.hljs-pre {padding:0 }


/* team */



