@media only screen and (max-width: 747px) {
    body#main_body {
        font-size:14px!important
    }

    a {
        line-height: 1.7em!important
    }

    .clnoeud {
        line-height: 1.7em!important;
        font-size: 1.15em!important
    }

    #header {
        min-width: 140px!important
    }

    #zonlogoinstit {
        margin: 4px!important
    }

    #ht_dt {
        width: auto;
        height: 0;
        clear: both;
        position: relative
    }

    #txtidf {
        top: 43px;
        right: 7px;
        height: 25px;
        line-height: 25px
    }

    .nomobile,#mnumonespace,#mnumoncahier,#mnuoutils,#zonremcom,#zoncagnotte,#zonnoteenfant,#zonaccrecherche,#imgaccueil,#zonchronometre,#aboimages,#aboenbref,#enteteboutons,#exotitre,#icoconsigne,#btnrechercheraide,#ht_milieu,#zoncouleurs,#zonefondconnexion,#cagnotteconnecte,#hridf,#arefconnecter {
        display: none!important
    }

    #zonparam {
        display: none;
    }

    .pourmobile {
        display: block!important
    }

    div.onglet_ht_j,div.onglet_ht_vo,div.onglet_ht_g {
        width: 100px!important
    }

    #container_centre {
        min-width: 240px!important
    }

    #sub_container1 {
        width: 100%;
        min-width: 240px!important;
        max-width: 300px!important;
        max-height: none!important
    }

    #sub_container2 {
        min-width: 240px!important
    }

    .texteencadre {
        margin-left: 0!important;
        margin-right: 0!important;
        font-size: .9em!important
    }

    .cadrefond {
        padding-left: 0;
        padding-right: 0
    }

    .texteencadre ul {
        margin: 10px 0 6px 16px;
        padding: 0
    }

    #zonparam {
        font-size: .9em
    }

    div.colgche {
        float: none!important;
        width: 100%!important;
        margin-right: 0!important
    }

    div.coldte {
        display: block;
        width: 100%!important;
        margin-top: 10px!important
    }

    .colclear {
        clear: none!important
    }

    .illustr {
        margin: 10px auto 5px!important;
        display: block!important;
        float: none!important
    }

    .lecon {
        font-size: 15px!important
    }

    .definition {
        margin: 2px!important;
        padding: 5px!important
    }

    .exoquestion {
        margin-left: 0!important
    }

    .encadre {
        margin: 2px!important;
        padding: 3px!important
    }

    .textesimple {
        margin: 1px!important
    }

    .stmobile {
        margin-bottom: 1.1em!important;
        margin-top: 1.1em!important
    }

    #zoneclavierennonce {
        position: fixed!important;
        left: 0!important;
        top: 0!important;
        width: 100%!important;
        border-bottom: 2px outset #CFCFCF!important;
        background-color: #EEE!important;
        padding: 5px!important;
        z-index: 200!important;
        max-height: 100px!important;
        overflow: scroll!important;
        font-size: 13px!important
    }

    .modele6couleurs {
        padding: 10px 0!important
    }
}

@media only screen and (max-width:400px) {
	.fs8 {
		font-size: 1.4em
	}
	
	.fs5 {
		font-size: 1em
	}
	input.saisiechiffrenormal {
		width: 1em;
	}
}
