
@charset "iso-8859-1";@font-face {
    font-family: 'icomoon';
    src: url('../fonts5/icomoon.eot?-os8dxh');
    src: url('../fonts5/icomoon.eot?#iefix-os8dxh') format('embedded-opentype'),url('../fonts5/icomoon.ttf?-os8dxh') format('truetype'),url('../fonts5/icomoon.woff?-os8dxh') format('woff'),url('../fonts5/icomoon.svg?-os8dxh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal
}

.icomoon {
    font-family: 'icomoon'
}

body#main_body {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    background-image: url(../images/fondsite3_1.png);
    background-color: white;
    background-repeat: repeat-x;
    background-position: top
}

#container {
    position: relative;
    padding: 0 3px 0 0;
    margin: 0 auto;
    text-align: left;
    max-width: 1090px
}

#zonecran_inactif {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 50;
    display: none
}

#header {
    position: relative;
    padding: 0;
    margin: 0;
    height: 69px;
    top: 0px;
    left: 0px;
    min-width: 740px
}

#header_gche {
    float: left
}

#container_pub_haut {
    width: 100%;
    padding-top: 7px;
    text-align: center
}

#main_container {
    position: relative;
    padding: 0px;
    margin: 31px 0px 0px 0px
}

#layout_table {
    border-collapse: collapse;
    vertical-align: top;
    -moz-box-shadow: 0px 5px 5px rgba(0,0,0,0.5);
    background-color: white;
    width: 100%
}

#colonne_gauche {
    vertical-align: top
}

#container_centre {
    position: relative;
    z-index: 41;
    width: 100%;
    min-width: 740px
}

#sub_container1 {
    margin: 10px 0px 0 2px;
    padding-bottom: 50px;
    max-width: 350px
}

#mnu_bouton_fermer {
    display: none;
    position: absolute;
    right: -1px;
    top: 1px;
    z-index: 10;
    line-height: 15px !important
}

#colonne_milieu {
    vertical-align: top;
    width: 750px
}

#sub_container2 {
    margin-left: 0px;
    margin-bottom: 10px;
    margin-top: 12px;
    min-width: 700px
}

#imgcentregrandir {
    position: absolute;
    right: -2px;
    top: -9px;
    z-index: 50
}

#zon_exercice_haut {
    border-left: solid #CCC 1px;
    border-right: solid #CCC 1px;
    background-image: url(../images/banniere_transparent.png);
    background-repeat: repeat-y;
    background-position: right
}

#enteteboutons {
    width: 61px;
    height: 25px;
    vertical-align: top
}

#enteteboutons .cmdicone {
    float: left;
    font-weight: normal
}

#ht_dt {
    width: 221px;
    height: 70px;
    font-size: 10px;
    color: #EEE;
    font-weight: bold;
    vertical-align: top;
    z-index: 20;
    float: right;
    margin-top: 5px;
    position: relative
}

#ht_gche {
    float: left;
    width: 250px;
    margin: 25px 0px 0px 10px
}

#ht_milieu {
    height: 90px;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden
}

#logo_ombre {
    position: relative;
    color: #326699;
    font-family: 'icomoon',Arial,sans-serif;
    font-size: 60px;
    line-height: 0.8em
}

#logo {
    position: absolute;
    left: 4px;
    top: -4px;
    color: white;
    font-family: 'icomoon',Arial,sans-serif;
    font-size: 60px;
    line-height: 0.8em
}

#zontetes {
    position: relative;
    width: 450px;
    margin: auto;
    height: 75px;
    margin: 10px auto 0px auto
}

#enteteenfants {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 514px;
    z-index: 5
}

#zontetes img {
    position: absolute;
    cursor: pointer;
    z-index: 20;
    top: 3px;
    height: 60px
}

#imgenfant1 {
    left: 64px
}

#imgenfant2 {
    left: 165px
}

#imgenfant3 {
    left: 267px
}

#imgenfant4 {
    left: 368px
}

#zontetes div {
    top: 0px;
    position: absolute;
    font-family: 'icomoon',Arial,sans-serif;
    color: white;
    font-size: 23px
}

#lblenfant1 {
    left: 3px
}

#lblenfant2 {
    left: 140px
}

#lblenfant3 {
    left: 245px
}

#lblenfant4 {
    left: 341px
}

#lblenfant5 {
    left: 440px
}

#zonefondconnexion {
    position: absolute;
    width: 220px;
    height: 72px;
    right: 0px;
    top: -2px;
    background-color: #6F93B7;
    background-repeat: repeat;
    border-radius: 10px;
    -moz-border-radius: 10px;
    z-index: 10
}

.connexionnom {
    color: #FFF;
    font-size: 1.6em;
    font-style: italic
}

#labelidf {
    color: #FFF;
    font-size: 1.1em;
    position: absolute;
    z-index: 30;
    top: 4px;
    right: 110px
}

#txtidf {
    position: absolute;
    z-index: 30;
    top: 3px;
    right: 7px;
    height: 50px;
    font-size: 14px;
    width: 170px;
    line-height: 50px
}

#labelmdp {
    position: absolute;
    z-index: 30;
    top: 25px;
    right: 110px;
    color: #069;
    font-size: 1.1em
}

#txtmdp {
    height: 12px;
    font-size: 11px;
    position: absolute;
    z-index: 30;
    top: 25px;
    right: 10px;
    width: 80px
}

#hridf {
    opacity: 0.2;
    position: absolute;
    z-index: 30;
    width: 210px;
    top: 42px;
    right: 0px
}

#arefconnecter {
    position: absolute;
    z-index: 30;
    top: 50px;
    right: 12px;
    font-weight: normal;
    font-size: 11px
}

#cagnotteconnecte {
    position: absolute;
    z-index: 30;
    top: 25px;
    right: 10px;
    cursor: pointer
}

#zonmenuprinc {
    position: relative;
    margin-top: 0px;
    margin-left: 0px;
    height: 28px
}

div.ong_ht {
    border-radius: 13px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 0px 0px 0px;
    text-align: center;
    width: 110px;
    height: 27px;
    display: inline-block;
    font-size: 14px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px
}

div.ong_j {
    background-color: #FFA406;
    background: #FFA406;
    background: linear-gradient( #FFA406,#f7d7a8)
}

div.ong_j:hover {
    background: #FCD495;
    background: linear-gradient( #FCD495,#FFA406)
}

div.ong_b {
    background-color: #5a85b0;
    background: #5a85b0;
    background: linear-gradient( #3B6C9E,#a7bfd6)
}

div.ong_b:hover {
    background: #8eb1d3;
    background: linear-gradient( #8eb1d3,#3B6C9E )
}

div.ong_r {
    background-color: #DD6363;
    background: #DD6363;
    background: linear-gradient( #D03F3F,#F8A5A5)
}

div.ong_r:hover {
    background: #E47A7A;
    background: linear-gradient( #E88484,#D03F3F)
}

div.ong_vt {
    background-color: #44B444;
    background: #44B444;
    background: linear-gradient( #38AD38,#A4E6A4)
}

div.ong_vt:hover {
    background: #75CD75;
    background: linear-gradient( #7BD37B,#38AD38 )
}

div.ong_vo {
    background-color: #AC55AC;
    background: #AC55AC;
    background: linear-gradient( #9F3C9F,#CFA0CF)
}

div.ong_vo:hover {
    background: #B86EB8;
    background: linear-gradient( #BB73BB,#9F3C9F )
}

div.ong_g {
    background-color: #8D8A8D;
    background: #8D8A8D;
    background: linear-gradient( #8D8A8D,#CACACC)
}

div.ong_g:hover {
    background: #CACACC;
    background: linear-gradient( #CACACC,#8D8A8D )
}

.mnuaccueil {
}

#mnureduit {
    display: none;
    postition: relative
}

.mnureduit_ico {
    font-size: 1.5em;
    position: absolute;
    top: 4px;
    left: 10px
}

#mnuquandgrand {
    display: none;
    position: absolute;
    left: -115px;
    z-index: 1
}

a.icomenu1 {
    color: #FFF
}

a.icomenu1:hover {
    color: #FFF
}

#zondatejour {
    color: #069;
    font-weight: bold;
    font-size: 0.8em;
    position: absolute;
    right: 5px;
    top: 0px
}

#zoncouleurs {
    position: absolute;
    right: 18px;
    top: 76px;
    text-align: center;
    font-size: 16px
}

#zoncouleurs a {
    margin-right: 3px;
    font-size: 17px
}

#mnuoutils {
    position: relative
}

#zonmenuoutils {
    position: absolute;
    display: none;
    z-index: 1000;
    height: auto;
    font-weight: normal;
    font-size: 12px;
    top: 28px;
    left: 0px;
    width: 200px;
    background-color: #658EB8;
    padding: 7px;
    color: white;
    text-align: left
}

.baspage1 {
    background-color: #999;
    width: 100%;
    font-size: 90%;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    margin-top: 10px
}

.baspage2 {
    font-size: 90%;
    color: #666;
    text-align: center;
    vertical-align: top;
    width: 100%
}

.baspage2 h1 {
    display: inline;
    margin: inherit;
    padding: inherit;
    color: inherit;
    font-size: inherit;
    font-weight: inherit
}

.baspage3 {
    font-style: italic;
    color: #666;
    text-align: center;
    font-size: 0.8em
}

#zonFB {
    float: right;
    margin-top: 4px;
    border: none;
    overflow: hidden;
    height: 21px;
    width: 100px
}

#zongplus {
    float: left;
    margin-top: 4px;
    border: none;
    overflow: hidden;
    height: 21px;
    width: 100px
}

#noscript {
    font-size: 1.1em;
    margin: 5px auto;
    padding: 10px;
    text-align: center;
    position: fixed;
    z-index: 2000;
    right: 5px;
    bottom: 5px
}

.cadremilieu {
    background-color: white;
    /*min-height: 495px;*/
    border-top: solid #CCC 1px;
    border-bottom: solid #CCC 1px;
    border-left: solid #CCC 1px;
    border-right: solid #CCC 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px
}

.cadrecommentaires {
    background-color: #5a85b0;
    border-bottom: 1px;
    border-bottom: solid #CCC 1px;
    border-left: solid #CCC 1px;
    border-right: solid #CCC 1px;
    padding-left: 10px;
    padding-right: 10px
}

#zoneaffichecommentaires td {
    padding: 2px;
    border-top: #FFF thin solid
}

.ombrage {
    -moz-box-shadow: 2px 2px 4px #aaa;
    -webkit-box-shadow: 2px 2px 4px #aaa;
    box-shadow: 2px 2px 4px #555
}

.nonaff {
    display: none
}

div.ui-widget-overlay {
    opacity: 0
}

.ui-front {
    z-index: 2500 !important
}

.ui-dialog {
    z-index: 2500 !important
}

.ui-dialog-titlebar-close {
    top: 40%!important;
    width: 25px!important;
    height: 25px!important
}

.ui-widget-content a {
    color: inherit
}

a {
    text-decoration: none;
    cursor: pointer
}

:focus {
    outline: none
}

a:link {
    color: inherit
}

a:hover {
    opacity: 0.6
}

a:visited {
    color: inherit
}

label {
    cursor: pointer
}

label:hover {
    opacity: 0.6
}

.textelien {
    cursor: pointer;
    color: #639
}

.textelien:hover {
    opacity: 0.6
}

img {
    border: none;
    vertical-align: middle
}

input {
    vertical-align: middle
}

.cliquer {
    text-decoration: none;
    color: #639;
    font-weight: bold;
    cursor: pointer
}

.bulleenfant {
    color: #666;
    font-size: 1.1em;
    font-style: oblique
}

.toucheclavier {
    color: white;
    background-color: #999;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 2px
}

.pointjaune {
    color: #f90;
    font-size: 22px
}

.message {
    color: #F60;
    font-style: italic
}

.fenetreenfant {
    display: none;
    position: absolute;
    left: 40%;
    top: 20%;
    height: 450px;
    width: 550px;
    padding-top: 10px;
    background-image: url(../images/cadre.gif);
    background-repeat: no-repeat;
    text-align: center;
    font-size: 1.3em;
    z-index: 100
}

.pointquestion {
    list-style-image: url(../images/pointjaune.gif)
}

.morange {
    color: #F60 !important
}

.mrouge {
    color: #c33 !important
}

.mviolet {
    color: #939 !important
}

.mvert {
    color: #393 !important
}

.mbleu {
    color: #069 !important
}

.mgris {
    color: #666 !important
}

.bggris {
    background-color: #a4a2a2
}

.bgorange {
    background-color: #ff9c07
}

.bgrouge {
    background-color: #d03d3d
}

.bgvert {
    background-color: #36ad36
}

.bgbleu {
    background-color: #396b9d
}

.bgviolet {
    background-color: #9e3a9e
}

.morangelien {
    color: #F60;
    cursor: pointer
}

.morangelien:hover {
    color: #e75d01
}

div.colgche {
    float: left;
    width: 50%;
    margin-right: 4px
}

div.coldte {
    display: inline-block;
    width: 48%
}

.colclear {
    clear: both
}

#zonefenetreliste {
    width: 99.2%;
    min-width: 750px;
    position: absolute;
    display: none;
    min-height: 2300px;
    top: -110px;
    z-index: 40;
    -moz-box-shadow: 2px 2px 5px 4px #555;
    -webkit-box-shadow: 2px 2px 5px 4px #555;
    -o-box-shadow: 2px 2px 5px 4px #555;
    box-shadow: 2px 2px 5px 4px #555;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#555;
    Direction=134;Strength=5)}

#zonefenetreliste_modif {
    display: none;
    min-height: 23px;
    position: absolute;
    right: 5px;
    top: -100px;
    width: 728px;
    min-width: 728px;
    z-index: 1500;
    background-color: white;
    color: #666;
    border: thin solid #CCC;
    border-radius: 10px;
    font-size: 1.15em;
    -moz-border-radius: 10px;
    padding: 8px
}

#zonlistelibellemodif {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 10px auto 10px auto;
    padding: 15px;
    text-align: left;
    width: 600px
}

#liste_entete {
    cursor: auto;
    font-size: 1.8em;
    height: 30px;
    width: 200px
}

#liste_gauche {
    display: none;
    z-index: 1500;
    background-color: white;
    margin: 0px 0 0 2px;
    position: absolute;
    top: -34px;
    right: 5px;
    width: 374px;
    z-index: 1000;
    -moz-box-shadow: 2px 2px 4px #aaa;
    -webkit-box-shadow: 2px 2px 4px #aaa;
    box-shadow: 2px 2px 4px #555;
    padding: 8px
}

#zoneboutons_liste {
    padding: 10px 0 10px 0;
    text-align: center
}

#btnmenuliste {
    width: 383px !important;
    height: 20px !important;
    font-size: 1.1em;
    padding-top: 8px;
    margin-right: 0px;
    margin-left: auto;
    display: block !important
}

#btnliste_recom {
    font-size: 24px !important;
    height: 30px !important;
    line-height: 27px !important;
    padding-top: 7px !important;
    width: 30px !important
}

#zonlisteadmin {
    display: none;
    position: absolute;
    top: 10px;
    left: -150px;
    z-index: 500;
    width: 1300px
}

.zonesaisiediscrete {
    font-size: 10px;
    color: #069;
    font-weight: bold;
    vertical-align: middle
}

input.saisiediscrete {
    height: 12px;
    font-size: 11px
}

.haut {
    background-color: #999;
    color: white;
    text-align: center;
    height: 5px
}

.boutoninterface {
    position: absolute;
    cursor: pointer;
    top: 5px;
    width: 10px;
    height: 10px;
    border: #CCC 1px solid;
    border-radius: 3px;
    -moz-border-radius: 3px
}

.couleur1 {
    background-color: #069
}

.couleur2 {
    background-color: #F60
}

.couleur3 {
    background-color: #393
}

.couleur4 {
    background-color: #939
}

.couleur5 {
    background-color: #c33
}

.couleur6 {
    background-color: #999
}

.titre1inverse {
    font-size: 1.1em;
    font-weight: bold;
    color: white
}

a.titre1inverse:hover {
    font-size: 1.1em;
    font-weight: bold;
    color: #F60
}

.titre1inverse h1 {
    display: inline;
    margin: inherit;
    padding: inherit;
    color: inherit;
    font-weight: inherit;
    font-size: inherit
}

.titre1 {
    font-size: 1.1em;
    font-weight: bold;
    color: #069
}

.titre2 {
    font-size: 0.9em;
    font-weight: bold;
    color: #069;
    line-height: 15px
}

.titre3 {
    font-size: 0.8em;
    color: #069
}

h1 {
    font-size: 1.1em;
    font-weight: bold;
    color: #069
}

h2 {
    font-size: 1.1em;
    color: #069
}

h3 {
    font-size: 0.9em
}

.consigne {
    text-align: justify;
    font-size: 1.2em;
    color: #069;
    padding-top: 3px;
    padding-bottom: 3px
}

.cadreconsigne {
    border-radius: 10px;
    -moz-border-radius: 10px;
    border: thin solid #CCC;
    padding: 4px;
    margin-bottom: 20px
}

.consignerappel {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    padding: 3px;
    background-color: #F7F7F7;
    border-radius: 10px;
    -moz-border-radius: 10px;
    border: thin outset #CCC
}

.indication {
    color: BlueViolet;
    font-size: 0.9em;
    line-height: 1.3em;
    vertical-align: top
}

.oeuvre {
    font-size: 0.9em;
    color: #069;
    font-style: italic
}

.exoquestion {
    margin-left: 20px
}

.icone {
    font-weight: bold;
    font-size: 0.7em
}

.zonnote {
    position: relative;
    /*height: 130px;*/
    font-size: 14px;
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
    padding-right: 10px;
    background-color: #5a85b0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    background-image: url(../images/banniere_transparent.png);
    background-repeat: repeat-y;
    background-position: right;
    box-shadow: 0px 0px 16px #555;
    -moz-box-shadow: 0px 0px 16px #aaa;
    -webkit-box-shadow: 0px 0px 16px #aaa
}

#zonnoteenfant {
    position: relative;
    height: 120px;
    width: 200px;
    color: #069;
    font-size: 0.85em
}

#imgresultat {
    position: absolute;
    width: 200px
}

#divresultat {
    position: absolute;
    top: 15px;
    left: 18px;
    width: 200px;
    text-align: center
}

.note {
    margin-right: 10px;
    width: 5Opx;
    height: 40px;
    font-weight: bold;
    font-size: 2em
}

.reussite {
}

#zonmessagerecompense {
    background-color: #F90;
    text-align: center;
    color: #FFF;
    border-radius: 10px;
    position: absolute;
    top: 0px;
    right: -8px;
    padding: 5px;
    width: 160px;
    height: 90px;
    z-index: 100
}

#zoncagnotte {
    color: #069;
    padding: 3px;
    position: relative;
    height: 89px;
    width: 110px;
    text-align: right;
    right: -10px;
    top: -45px
}

#zonimgcagnotte {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 0.8em;
    font-style: italic;
    text-align: center
}

#zonpluscagnotte {
    position: absolute;
    top: 43px;
    width: 50px;
    color: #C33;
    font-weight: bold;
    right: 35px;
    text-align: left
}

#zondivcagnotte {
    position: absolute;
    bottom: 0px;
    right: 3px;
    font-size: 0.8em
}

#zonspancagnotte {
    font-weight: bold;
    font-size: 1.2em
}

#zonspanrestecadeau {
    position: absolute;
    top: 135px;
    width: 300px;
    text-align: right;
    right: 2px;
    font-size: 0.8em;
    font-style: italic;
    color: white
}

input.saisieeleve {
    font-size: 1.1em;
    margin-top: 1.05em;
    margin-bottom: 1.05em;
    vertical-align: middle;
    border-style: solid;
    border-color: #069;
    border-width: 1px
}

input.saisieelevefaux {
    font-size: 1.1em;
    color: red;
    margin-top: 1.05em;
    margin-bottom: 1.05em;
    vertical-align: middle;
    border-style: solid;
    border-color: #069;
    border-width: 1px
}

input.saisieeleve2 {
    font-size: 1.1em;
    vertical-align: middle;
    border-style: solid;
    border-color: #069;
    border-width: 1px
}

.inputdictee {
    width: 640px;
    font-size: 14px;
    border-style: solid;
    border-color: #069;
    border-width: 1px
}

input.saisieconjugue {
    font-size: 1.1em;
    vertical-align: middle;
    border-style: solid;
    border-color: #069;
    border-width: 1px;
    margin-top: 2px;
    margin-bottom: 2px
}

.serimg1 {
    float: left;
    margin-right: 20px;
    margin-top: 10px
}

.serimg2 {
    float: right;
    margin-left: 20px;
    margin-top: 10px
}

.credits_image {
    text-align: right;
    font-size: 10px;
    font-style: italic;
    cursor: pointer;
    margin-right: 1px;
    line-height: 1em
}

.fs0 {
    font-size: 1em
}

.fs1 {
    font-size: 1.1em
}

.fs2 {
    font-size: 1.2em
}

.fs3 {
    font-size: 1.3em
}

.fs4 {
    font-size: 1.4em
}

.fs5 {
    font-size: 1.5em
}

.fs6 {
    font-size: 1.6em
}

.fs7 {
    font-size: 1.7em
}

.fs8 {
    font-size: 1.8em
}

.fs9 {
    font-size: 1.9em
}

.fs20 {
    font-size: 2em
}

.bd0 {
    border-style: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0px
}

.bd1 {
    border-style: none;
    border: 1px solid #CCC;
    -webkit-appearance: none;
    -webkit-border-radius: 0px
}

.bd2 {
    border-style: none;
    border-bottom: 2px solid #069;
    -webkit-appearance: none;
    -webkit-border-radius: 0px
}

.st0 {
    margin-top: 0.4em;
    margin-bottom: 0.7em
}

.st1 {
    margin: 5px;
    padding: 2px
}

.st2 {
    padding: 1px;
    margin-top: 5px;
    margin-bottom: 5px
}

.st3 {
    margin: 0px;
    padding: 5px
}

.st4 .st0_13 {
    margin-top: 1px;
    margin-bottom: 1px
}

.st5 {
    padding: 0px;
    margin-top: 0.35em;
    margin-bottom: 0.5em
}

.st6 .st5_marges {
    padding: 0px;
    margin-top: 0.6em;
    margin-bottom: 0.8em
}

.st9 {
    padding: 0px;
    margin-top: 0.095em;
    margin-bottom: 0.2em
}

.st11 {
    margin-top: 0.8em;
    margin-bottom: 0.8em
}

.st12 {
    padding: 0px;
    margin-top: 3px;
    margin-bottom: 2px
}

.st13 {
    padding: 0px;
    margin-top: -0.1em;
    margin-bottom: 0em
}

.stylezonefalc {
    font-size: 1.1em;
    font-style: italic;
    border-style: solid;
    border-color: :#CCC;
    border-width: 1px;
    background-color: #E9E9E9
}

.fs14 {
    font-size: 14px
}

.fs17 {
    font-size: 17px
}

.fs19 {
    font-size: 19px
}

.fs22 {
    font-size: 22px
}

.fs20 {
    font-size: 20px
}

.fs30 {
    font-size: 30px
}

.lh25 {
    line-height: 25px
}

.lh30 {
    line-height: 30px
}

.lh35 {
    line-height: 35px
}

.lh40 {
    line-height: 40px
}

.lh50 {
    line-height: 50px
}

.lh60 {
    line-height: 60px
}

.lh70 {
    line-height: 70px
}

.lh80 {
    line-height: 80px
}

.pt10 {
    padding-top: 10px
}

.mw720 {
    min-width: 710px
}

.mw500 {
    min-width: 500px
}

img.cmd {
    cursor: pointer
}

img.cmd:hover {
    opacity: 0.7
}

input.cmddisabled {
    width: 160px;
    height: 30px;
    color: #CCC;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    background-color: #999;
    padding: 0px
}

a.cmdpetit,div.cmdpetit,input.cmdpetit {
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.25) inset;
    color: #fff;
    font-weight: normal;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background-color: #5a85b0;
    background: #5a85b0;
    background: linear-gradient( #5a85b0,#8eb1d3);
    width: 52px;
    height: 23px;
    border: 1px solid #265D93;
    line-height: 23px
}

a.cmd,div.cmd,input.cmd {
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.25) inset;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    margin: 3px;
    padding: 5px 3px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    background-color: #5a85b0;
    background: #5a85b0;
    background: linear-gradient( #5a85b0,#8eb1d3);
    width: 185px;
    border: 1px solid #265D93;
    line-height: 1em;
	box-sizing: content-box;
}

a.cmd:hover,div.cmd:hover,input.cmd:hover,a.cmdpetit:hover,div.cmdpetit:hover,input.cmdpetit:hover {
    background: #8eb1d3;
    background: linear-gradient( #8eb1d3,#5a85b0 )
}

a.cmd_disabled,div.cmd_disabled,input.cmd_disabled {
    opacity: 0.4;
    filter: alpha(opacity= 50);
    -moz-opacity: 0.4;
    cursor: default
}

a.cmdvert,div.cmdvert,input.cmdvert {
    background-color: #32aa32;
    background: linear-gradient( #32aa32,#6dd76d );
    border: 1px solid #309130
}

a.cmdvert:hover,div.cmdvert:hover,input.cmdvert:hover {
    background: #6dd76d;
    background: linear-gradient( #6dd76d,#32aa32 )
}

a.cmdorange,div.cmdorange,input.cmdorange {
    background-color: #f90;
    background: linear-gradient( #f90,#fbb752 );
    border: 1px solid #EEA63A
}

a.cmdorange:hover,div.cmdorange:hover,input.cmdorange:hover {
    background: #f90;
    background: linear-gradient( #fbb752,#f90 )
}

a.cmdviolet,div.cmdviolet,input.cmdviolet {
    background-color: #939;
    background: linear-gradient( #939,#cb7dcb );
    border: 1px solid #933393
}

a.cmdviolet:hover,div.cmdviolet:hover,input.cmdviolet:hover {
    background: #cb7dcb;
    background: linear-gradient( #cb7dcb,#939 )
}

a.cmdrouge,div.cmdrouge,input.cmdrouge {
    background-color: #c33;
    background: linear-gradient( #c33,#f07878 );
    border: 1px solid #BD2626
}

a.cmdrouge:hover,div.cmdrouge:hover,input.cmdrouge:hover {
    background: #f07878;
    background: linear-gradient( #f07878,#c33 )
}

a.cmdgris,div.cmdgris,input.cmdgris {
    background-color: #7c7979;
    background: linear-gradient( #7c7979,#afadad );
    border: 1px solid #777
}

a.cmdgris:hover,div.cmdgris:hover,input.cmdgris:hover {
    background: #afadad;
    background: linear-gradient( #afadad,#7c7979 )
}

.cmdicone {
    font-size: 15px !important;
    height: 16px !important;
    padding: 4px !important;
    width: 16px !important;
    margin: 0px 2px 0px 2px !important
}

.cmdicone2 {
    font-size: 13px !important;
    height: 13px !important;
    padding: 2px !important;
    width: 13px !important;
    margin: 0px 2px 0px 2px !important;
    font-weight: normal !important
}

.cmdicone3 {
    font-size: 16px !important;
    height: 16px !important;
    padding: 3px !important;
    width: 15px !important;
    margin: 0px 2px 0px 2px !important;
    font-weight: normal !important
}

#zonetousboutons {
    line-height: 1em;
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    clear: both
}

#btnprecedent {
    width: 80px
}

#btnsuivant {
    width: 80px
}

input.bouton_clavier,div.bouton_clavier {
    line-height: 1em;
    width: 33px;
    height: 23px;
    font-size: 19px
}

div.clavier {
    background-color: #e4e1e1;
    border-radius: 10px;
    -moz-border-radius: 10px;
    border: thin solid #999;
    padding: 4px;
    -moz-box-shadow: 2px 2px 4px #aaa;
    -webkit-box-shadow: 2px 2px 4px #aaa;
    box-shadow: 2px 2px 4px #555;
	box-sizing: content-box;
}

.bouton_choix {
    text-align: center;
    min-width: 37px;
    background-image: url(../images/bouton_degrade.gif);
    background-repeat: repeat-x;
    margin: 2px;
    border: thin solid #666;
    border-style: outset;
    border-radius: 5px;
    -moz-border-radius: 10px;
    height: 37px;
    font-size: 1.6em;
    cursor: pointer
}

.zonesolutiondessous {
    background-color: #F8F8F8;
    border: thin solid #CCC;
    border-radius: 10px;
    -moz-border-radius: 10px;
    margin-top: 12px;
    padding: 8px;
    padding-left: 1px;
    padding-right: 1px;
    -moz-box-shadow: 2px 2px 4px #aaa;
    -webkit-box-shadow: 2px 2px 4px #aaa;
    box-shadow: 2px 2px 4px #555
}

.zonesolutioncote {
    background-color: #F8F8F8;
    border: thin solid #CCC;
    padding: 2px;
    border-radius: 10px;
    margin-top: 2px;
    -moz-border-radius: 10px;
    -moz-box-shadow: 2px 2px 4px #aaa;
    -webkit-box-shadow: 2px 2px 4px #aaa;
    box-shadow: 2px 2px 4px #555
}

.lignecorrige {
    color: #069;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid white;
    margin-bottom: 2px;
    text-align: center
}

.textesimple {
    line-height: 1.4em;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 8px;
    padding: 6px;
    border: thin solid #069
}

.tab0 {
    background-color: #fce6c5;
    border: 1px solid #069
}

.tab1 {
    background-color: #fce6c5;
    border: 1px solid #069
}

.tab2 {
    background-color: #FFF;
    border: 1px solid #069
}

.tab3 {
    background-color: #FFF
}

.td1 {
    border: 1px solid #069
}

.td2 {
    border: 1px solid #069
}

.td3 {
    text-align: left
}

.td4 {
    border: none;
    border-left: 1px solid #069;
    border-right: 1px solid #069
}

.td1_gros {
    border: 1px solid #069;
    font-size: 1.2em
}

.tdentete1 {
    border: none;
    font-weight: bold;
    background-color: #FFF
}

.tdentete2 {
    border: 1px solid #069;
    background-color: #fdd190;
    color: #069
}

.modele6couleurs {
    font-size: 1.2em;
    margin-bottom: 0px;
    padding: 5px;
    display: inline-block;
    border-radius: 10px;
    -moz-border-radius: 10px;
    border: thin solid #CCC;
    padding: 10px;
    -moz-box-shadow: 2px 2px 4px #aaa;
    -webkit-box-shadow: 2px 2px 4px #aaa;
    box-shadow: 2px 2px 4px #555;
    line-height: 2em
}

.textecliquable {
    cursor: pointer
}

.textecliquableencadre {
    cursor: pointer;
    border-style: solid;
    border-color: white;
    padding-right: 1px;
    padding-left: 1px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    vertical-align: top;
    display: inline-block
}

.textefaux {
    cursor: auto;
    background-color: #FC0
}

.textejuste {
    cursor: auto;
    background-color: #CF9
}

input.saisiechiffrenormal {
    -webkit-appearance: none;
    padding: 0px;
    width: 1.6em;
    height: 1.6em;
    font-size: 1.1em;
    font-weight: bold;
    border-style: solid;
    border-color: #069;
    border-width: 1px;
    font-family: Verdana,Arial
}

input.saisiechiffrenormal2 {
    -webkit-appearance: none;
    width: 1.6em;
    height: 1.6em;
    font-size: 1.1em;
    font-weight: bold;
    border-style: none;
    border-color: #069;
    border-width: 1px;
    font-family: Verdana,Arial
}

input.saisiechiffremini {
    -webkit-appearance: none;
    width: 0.9em;
    height: 1em;
    font-size: 0.8em;
    border-style: solid;
    border-color: #999;
    border-width: 1px;
    font-family: Verdana,Arial
}

input.saisieretenuefalc {
    -webkit-appearance: none;
    padding: 0px;
    color: #8B8787;
    width: 1.1em;
    height: 1.1em;
    font-size: 0.8em;
    border-style: none;
    border: 1px solid #E9E3E3
}

input.saisieretenuefalcsoustr1 {
    font-size: 1.8em;
    vertical-align: top;
    text-align: center;
    /*border: none!important;*/
    padding-top: 0px;
    -webkit-appearance: none
}

input.saisieretenuefalcsoustr1:disabled {
    -webkit-text-fill-color: black
}

input.saisieretenuefalcsoustr2 {
    vertical-align: bottom;
    text-align: center
}

input.saisiefacultatif {
    background-color: #E3E3E3;
    margin: 0px
}

input.saisienombre {
    width: 3.2em;
    height: 1.3em;
    font-size: 1.2em;
    font-weight: bold;
    border-style: solid;
    border-color: #069;
    border-width: 1px;
    padding: 3px;
    border-radius: 10px
}

.casechiffre {
    width: 30px;
    font-size: 1.1em;
    font-weight: bold
}

.caseretenue {
    font-size: 8px;
    color: #666;
    text-align: right;
    vertical-align: top
}

.txtope {
    color: #069;
    font-weight: bold
}

.traitopehorizbold {
    border-top: solid #069 2px;
    font-size: 1px
}

.traitopehorizthin {
    border-top: solid #CCC 2px;
    font-size: 1px
}

.traitopevertic {
    border-right: solid #069 2px;
    font-size: 1px
}

.fraction {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    line-height: normal;
    text-align: center
}

.fraction > span {
    display: block;
    padding: 0.1em
}

.fraction span.sup {
    padding-top: 2px;
    height: 1.55em;
    vertical-align: bottom
}

.fraction span.inf {
    border-top: thin solid black;
    border-top-width: 2px;
    height: 1.6em;
    padding-bottom: 2px;
    vertical-align: top
}

div.parametres {
    background-color: #FFC;
    font-size: 0.8em;
    padding: 5px
}

input.parametres {
    text-align: center;
    font-size: 1.2em;
    margin: 2px 0 2px 0
}

h2.parametres {
    font-size: 1.1em
}

#btnoption {
    text-align: center;
    position: relative;
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0px;
    cursor: pointer;
    border-radius: 5px;
    -moz-border-radius: 5px;
    border: solid #b6b3b3 1px;
    background-color: #f0eeee;
    color: #666
}

.optionoubien {
    position: relative;
    font-size: 1.1em;
    color: #FFF;
    margin: 4px auto 5px auto;
    display: inline-block;
    background-color: #979595;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    -moz-border-radius: 3px
}

.optionsepare {
    text-align: center;
    position: relative;
    height: 1.5em;
    margin: 10px 0px 20px 0px
}

#zonparam hr {
    width: 100%;
    border: 0;
    height: 1px;
    margin-top: 5px;
    background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0))
}

#zonparam ul {
    padding: 0 0 0 10px;
    margin: 0px
}

#zonparam {
    line-height: 1.4em;
    font-size: 1.1em;
    color: #666;
    background-color: #EEE;
    margin-left: -10px;
    margin-top: -1px;
    margin-right: -10px;
    padding: 10px 4px 10px 12px
}

.caselignesup {
    border-top: 1px;
    border-top-style: solid;
    border-top-color: #CCC;
    padding-top: 4px
}

.caselignegauche {
    border-left: 1px;
    border-left-style: solid;
    border-left-color: #CCC;
    padding-left: 4px
}

#btnvaliderparam {
    margin-left: auto;
    margin-right: 0px
}

#zoninfosaisie {
    clear: both
}

select.listechoix {
    width: 180px
}

input.verbe {
    width: 90px
}

.bouton {
    height: 34px;
    width: 200px;
    font-size: 16px;
    font-weight: bold;
    border: medium #90C309;
    color: white;
    background-color: #90C309;
    border-bottom: solid #a6e309;
    border-style: outset;
    border-top-style: solid
}

.bouton_petit {
    height: 34px;
    width: 80px;
    font-size: 12px;
    font-weight: bold;
    border: medium #90C309;
    color: #fdfefd;
    background-color: #90C309;
    border-bottom: solid #a6e309;
    border-style: outset;
    border-top-style: solid
}

a#btncocher:hover {
    color: #8a2be2;
    text-decoration: none
}

a#btncocher {
    color: #018377;
    cursor: pointer
}

.tempsselectionne {
    margin: 2px;
    padding-left: 3px;
    padding-right: 3px;
    cursor: pointer;
    background-color: #c33;
    color: white;
    font-weight: bold
}

.tempsnonselectionne {
    margin: 2px;
    cursor: pointer;
    padding-left: 3px;
    padding-right: 3px;
    background-color: inherit;
    color: #c33;
    font-weight: inherit
}

.tableau_recherche {
    font-size: 12px
}

.verbeinfinitif {
    font-weight: bold;
    font-size: 1.1em;
    color: #c33
}

.verbeautreforme {
    font-weight: bold;
    font-size: 1.1em;
    color: #c33
}

.verbegroupe {
    color: #c33;
    font-size: 1em
}

.commentaire {
    font-style: italic;
    font-size: 1em
}

.caseverbeaff {
    color: black;
    font-size: 1.1em
}

.caseverbeexo {
    color: black;
    font-size: 1em
}

.terminaison {
    color: #F00;
    font-size: 1.1em
}

.type_temps {
    color: white;
    background-color: #999;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    height: 27px;
    padding-top: 8px;
    margin-top: 8px
}

.temps {
    background-color: #CCC;
    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    color: #069;
    border-radius: 10px;
    -moz-border-radius: 10px;
    margin-top: 5px
}

.h {
    border-top: 1px solid white
}

.b {
    border-bottom: 1px solid white
}

.g {
    border-left: 1px solid white
}

.d {
    border-right: 1px solid white
}

.gris1 {
}

.echelle {
    position: relative;
    left: 0px;
    padding: 15px;
    padding-bottom: 50px;
    z-index: 3
}

.trait {
    position: absolute;
    border-left: #F00 2px solid;
    height: 10px;
    top: 41px;
    display: inline-block;
    width: 3px;
    z-index: 4
}

.gros_trait {
    position: absolute;
    border-left: #03C 3px solid;
    top: 41px;
    height: 10px;
    display: inline-block;
    width: 3px;
    z-index: 4
}

.trait_fin {
    position: absolute;
    border-left: #03C 1px solid;
    top: 41px;
    height: 10px;
    display: inline-block;
    width: 1px;
    z-index: 4
}

.ligne {
    position: absolute;
    border-bottom: #03C 5px solid;
    top: 41px;
    height: 10px;
    display: inline-block;
    z-index: 5
}

.point {
    position: absolute;
    width: 50px;
    text-align: center;
    display: inline-block;
    z-index: 5
}

.point_repaire {
    position: absolute;
    width: 50px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    color: #03C;
    z-index: 5
}

.bienvenue {
    border-radius: 10px;
    font-size: 1.25em;
    font-style: italic;
    color: #666
}

.bienvenue h1 {
    display: inline;
    margin: inherit;
    padding: inherit;
    color: inherit;
    font-size: inherit;
    font-weight: inherit
}

.cadresimple {
    border-radius: 10px;
    -moz-border-radius: 10px;
    border: thin solid #CCC;
    color: #666;
    font-size: 1.15em;
    margin-top: 12px;
    padding: 12px
}

.cadresaisie {
    border: thin solid #CCC;
    background-color: #EEE;
    padding: 5px;
    border-radius: 10px;
    -moz-border-radius: 10px
}

.cadrefond {
    color: #666;
    background-color: #EEE;
    border: thin solid #CCC;
    border-radius: 10px;
    -moz-border-radius: 10px;
    font-size: 1.15em;
    margin-top: 12px;
    padding: 8px;
    padding-left: 4px;
    padding-right: 4px
}

.lienencadre {
    background-color: white;
    font-size: 1.1em;
    border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 5px;
    margin-right: 5px;
    margin-left: 5px;
    padding-left: 10px;
    padding-top: 3px;
    height: 23px
}

.lienencadre a {
    color: #069
}

.lienencadre a:hover {
    color: #F60
}

.texteencadre {
    background-color: white;
    font-size: 0.95em;
    border-radius: 10px;
    -moz-border-radius: 10px;
    padding-left: 3px;
    margin: 2px;
    margin-right: 5px;
    margin-left: 5px;
    vertical-align: middle;
    padding: 6px
}

.titrebloc {
    color: #069;
    font-size: 16px;
    font-weight: bold;
    border-bottom: thin solid #FFF
}

.titrebloc h1 {
    display: inline;
    font-size: inherit;
    margin: inherit;
    padding: inherit;
    color: inherit;
    font-size: inherit
}

.texteencadre h2 {
    display: inline;
    font-size: inherit;
    margin: inherit;
    padding: inherit;
    color: inherit;
    font-size: inherit
}

.cadreaffichage {
    color: #069;
    display: none;
    font-weight: normal;
    text-align: left;
    position: absolute;
    border: thin solid #CCC;
    border-right: 2px outset #CFCFCF;
    border-bottom: 2px outset #CFCFCF;
    background-color: #EEE;
    padding: 5px;
    z-index: 200
}

.tabaffichage tr:nth-child(2n) {
    background-color: #F4F4E4
}

.tabaffichage tr:nth-child(2n+1) {
    background-color: #FFE
}

.tabaffichage tr:first-child {
    background-color: #999;
    color: white;
    font-weight: bold;
    text-align: center
}

.tabaffichage2 tr:nth-child(2n) {
    background-color: rgb(254,254,226)
}

.tabaffichage2 tr:nth-child(2n+1) {
    background-color: rgb(253,253,243)
}

.tabaffichage2 tr:first-child {
    background-color: #999;
    color: white;
    font-weight: bold;
    text-align: center
}

.tabaffichage2 td {
    padding: 2px;
    text-align: left;
    height: 25px
}

.tabaffichage2 tr:hover {
    color: #F60
}

.tabaffichage2 th {
    padding: 2px;
    text-align: lef;
    height: 25px
}

.tabaffichage2 tr:first-child:hover {
    color: white
}

.tabaffichage3 tr:nth-child(2n) {
    background-color: white
}

.tabaffichage3 tr:nth-child(2n+1) {
    background-color: white
}

.tabaffichage3 tr:first-child {
    background-color: white;
    color: #666;
    text-align: left;
    font-weight: normal
}

.tabaffichage3 tr:first-child:hover {
    color: #666
}

.tabaffichage3 td {
    padding: 2px;
    color: #666
}

.tabaffichage3 th {
    padding: 2px;
    text-align: lef;
    height: 25px;
    color: #666
}

.tabsortable {
    border-spacing: 0;
    border-collapse: collapse;
    margin: auto
}

.tabsortable td {
    border-bottom: 1px solid #069;
    padding: 5px 0 5px 0
}

.lstgros {
    cursor: pointer;
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 0px;
    border-bottom: 2px solid #069;
    color: #069;
    font-weight: bold;
    line-height: 1.6em
}

.ongletinactif {
    cursor: pointer;
    position: absolute;
    height: 40px;
    top: 0px;
    border: thin solid #CCC;
    text-align: center;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 10px;
    -moz-border-radius: 10px;
    color: #666;
    background-color: #EEE
}

.ongletactif {
    cursor: default;
    position: absolute;
    height: 40px;
    top: 0px;
    border: thin solid #CCC;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 10px;
    -moz-border-radius: 10px;
    color: white;
    background-color: #666
}

#zoneonglet1,#zoneonglet2,#zoneonglet3 {
    position: relative;
    height: auto;
    z-index: 100;
    background-color: #fff;
    padding: 15px;
    border: 2px solid #666;
    color: #666;
    border-radius: 10px;
    -moz-border-radius: 10px;
    font-size: 1.15em;
    margin-bottom: 20px;
    margin-top: 12px
}

#zonpubadsens_fixe {
    margin-left: -3px;
    margin-top: 5px;
    margin-bottom: 15px
}

#zonpubadsens {
    text-align: center
}

#frame_publicite_bas {
    margin-left: -3px;
    width: 730px;
    height: 105px;
    margin: auto
}

.pubtrait {
    margin: auto;
    margin-top: 30px
}

#zonpubinstit {
    display: none;
    width: 98%;
    line-height: 1.3em;
    font-weight: normal;
    font-size: 16px
}

#zonpubht {
    text-align: center;
    max-height: 120px;
    margin: 45px 0px 5px 0px
}

.motselectionne {
    margin: 2px;
    cursor: pointer;
    background-color: #c33;
    color: white
}

.motnonselectionne {
    margin: 2px;
    cursor: pointer;
    background-color: white;
    color: #069
}

.motapprendre {
    display: none;
    position: absolute;
    left: 0px;
    top: -20px;
    text-align: center;
    padding: 5px 40px;
    font-size: 30px;
    background-color: white;
    border: thin solid #069;
    border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 3px 2px 3px rgba(0,0,0,0.2)
}

.lecon {
    font-size: 13px
}

.lec_large {
    min-width: 710px
}

.titre_lecon {
    color: #069;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px
}

.illustr {
    float: right;
    background-color: white;
    padding: 0 3px 4px 3px
}

.titre_paragraphe {
    color: #069;
    border-bottom: 2px solid #069;
    margin-bottom: 8px;
    font-size: 1.1em;
    font-weight: bold
}

.definition {
    background-color: #FFFFCA;
    font-size: 1.15em;
    margin: 10px;
    padding: 10px
}

.soustitre_paragraphe {
    color: #0F3
}

.exemple {
    color: #c33;
    font-style: italic
}

.fonction {
    color: #C0C;
    font-style: italic;
    font-size: 0.85em
}

.titre_exemple {
    color: #069;
    font-size: 0.97em;
    font-weight: bold
}

.encadre {
    border: 1px solid #069;
    text-align: center;
    margin: 4px;
    padding: 3px
}

.tab_1_hg {
    padding: 2px;
    border-top: 1px solid #069;
    border-left: 1px solid #069
}

.tab_1_hgb {
    padding: 2px;
    border-top: 1px solid #069;
    border-left: 1px solid #069;
    border-bottom: 1px solid #069
}

.tab_1_hgbd {
    padding: 2px;
    border-top: 1px solid #069;
    border-left: 1px solid #069;
    border-bottom: 1px solid #069;
    border-right: 1px solid #069
}

.tab_1_hgd {
    padding: 2px;
    border-top: 1px solid #069;
    border-left: 1px solid #069;
    border-right: 1px solid #069
}

.tab_1_g {
    padding: 2px;
    border-left: 1px solid #069
}

.tab_1_gd {
    padding: 2px;
    border-left: 1px solid #069;
    border-right: 1px solid #069
}

.tab_1_gb {
    padding: 2px;
    border-left: 1px solid #069;
    border-bottom: 1px solid #069
}

.tab_1_gbd {
    padding: 2px;
    border-left: 1px solid #069;
    border-bottom: 1px solid #069;
    border-right: 1px solid #069
}

.tab_lecon {
    border-collapse: collapse;
    border: 1px solid #069
}

.td_lecon {
    padding: 2px;
    border: 1px solid #069
}

.jeretiens::before {
    margin: 0em 0.8em 1.5em;
    position: absolute;
    background: #F93 none repeat scroll 0 0;
    border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: 3px 2px 3px rgba(0,0,0,0.2);
    color: #fff;
    content: "Je retiens";
    left: 14px;
    line-height: 1.4em;
    padding: 2px 7px 3px;
    top: -1em;
    transform: rotate(-5deg)
}

.jeretiens {
    width: 550px;
    margin: 30px auto;
    margin-top: 45px;
    padding: 23px;
    position: relative;
    border: 1px solid #393;
    border-radius: 13px;
    -moz-border-radius: 13px;
    box-shadow: 3px 4px 6px rgba(0,0,0,0.2);
    font-family: "Open Sans",sans-serif,"google";
    color: #393;
    line-height: 1.4em;
    font-size: 18px
}

ul.lifleche.orange li::before {
    color: #F93
}

ul.lifleche li::before {
    margin-right: 0.3em;
    font-family: 'icomoon';
    content: "\e604";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

ul.lifleche li {
    list-style-type: none;
    margin-left: 0;
    text-indent: -1.8em
}

ul.lifleche {
    margin: 0px
}

.fleche {
    font-size: 1.3em;
    display: inline-block;
    vertical-align: middle;
    color: #393;
    font-family: 'icomoon'
}

.fleche:before {
    content: "\e901"
}

#zondrag_drop {
}

#zoneleinit {
    margin-bottom: 15px;
    padding-top: 8px;
    padding-bottom: 8px
}

#zoneleinit DIV {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    min-width: 80px;
    max-width: 700px;
    background-color: #f90;
    padding: 6px;
    margin: 2px;
    margin-bottom: 5px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -moz-box-shadow: 2px 2px 4px #aaa;
    -webkit-box-shadow: 2px 2px 4px #aaa;
    box-shadow: 2px 2px 4px #555
}

.inithover {
    background-color: #EFEFEF
}

#zoneledest {
    margin-left: 2px;
    margin-right: 1px
}

#zoneledest .dest {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    min-width: 80px;
    max-width: 700px;
    background-color: white;
    padding: 6px;
    margin-bottom: 2px;
    margin-top: 5px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    border: solid #FB7D00 thin;
    margin-left: 4px
}

#zoneledest .desthover {
    border: thin solid grey;
    -moz-box-shadow: 2px 2px 4px #aaa;
    -webkit-box-shadow: 2px 2px 4px #aaa;
    box-shadow: 2px 2px 4px #555
}

.dest_rempli {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    min-width: 80px;
    background-color: #d8da3d
}

.zoneeledestcor {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    min-width: 80px;
    max-width: 700px;
    width: auto;
    height: auto;
    background-color: #f90;
    padding: 6px;
    margin-bottom: 2px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    border: solid #FB7D00 thin;
    margin-left: 4px
}

#zoneleinit24 {
    margin-bottom: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    min-height: 30px;
    width: 100%;
    text-align: center
}

.eleinit24 {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    min-width: 80px;
    max-width: 700px;
    background-color: #f90;
    padding: 6px;
    margin: 2px;
    margin-bottom: 5px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -moz-box-shadow: 2px 2px 4px #aaa;
    -webkit-box-shadow: 2px 2px 4px #aaa;
    box-shadow: 2px 2px 4px #555
}

.init24hover {
    background-color: #EFEFEF
}

#zoneledest24 {
    margin-left: 2px;
    margin-right: 1px
}

#zoneledest24 .dest24 {
    text-align: center;
    cursor: pointer;
    background-color: white
}

#zoneledest24 .dest24hover {
    border: 2px solid grey;
    -moz-box-shadow: 2px 2px 4px #aaa;
    -webkit-box-shadow: 2px 2px 4px #aaa;
    box-shadow: 2px 2px 4px #555
}

#frmordonner24 th {
    text-align: center;
    color: #c33;
    font-size: 1.1em
}

#frmordonner24 td {
    border: 2px solid #c33;
    text-align: center;
    vertical-align: top;
    padding: 5px;
    border-radius: 10px;
    -moz-border-radius: 10px
}

.eleinit24cor {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    min-width: 80px;
    max-width: 700px;
    background-color: rgb(195,221,95);
    padding: 6px;
    margin: 2px;
    margin-bottom: 5px;
    border-radius: 10px;
    -moz-border-radius: 10px
}

.zonedraggable {
    cursor: move
}

#zonlisteexo {
    font-size: 1.3em
}

.liste_exo {
    color: #797979;
    font-size: 0.85em
}

.liste_exo_selectionne {
    background-color: #5a85b0;
    color: #E8E8E8;
    font-size: 0.85em
}

.liste_exo_titre {
    color: #069;
    border-top: #f0eeee 2px solid;
    font-size: 0.9em
}

.listenote {
    display: none;
    text-indent: 0;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    color: white;
    margin-top: -2px;
    margin-right: 3px;
    width: 50px;
    float: right;
    text-align: center;
    background-color: #f90;
    -moz-box-shadow: 2px 2px 4px #aaa;
    -webkit-box-shadow: 2px 2px 4px #aaa;
    box-shadow: 2px 2px 4px #555
}

.listetexte {
    border: 2px solid #069;
    padding: 7px;
    margin: 10px;
    border-radius: 10px;
    -moz-border-radius: 10px
}

#divlistefermer {
    width: 100px;
    cursor: pointer;
    border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: #f90;
    color: white;
    padding: 5px
}

.titreblocrecherche {
    padding: 5px;
    background-color: #5a85b0;
    color: white;
    font-size: 1.12em;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    background-image: url(../images/banniere_transparent.png);
    background-repeat: repeat-y;
    background-position: right
}

.blogmenu {
    text-align: right;
    min-height: 20px;
    padding-right: 10px;
    margin-top: -15px;
    background-color: #ff9c07;
    background-image: url(../images/banniere_transparent.png);
    background-repeat: repeat-y;
    background-position: right;
    font-size: 1.1em;
    color: white
}

.lien_externe {
    position: absolute;
    cursor: pointer;
    left: 200px;
    top: 120px;
    text-align: center;
    background-color: #5a85b0;
    border: solid #CCC 1px;
    background-image: url(../images/banniere_transparent.png);
    background-repeat: repeat-y;
    background-position: right;
    color: white;
    padding: 15px
}

.lien_externe:hover {
    background-color: #769ec5
}

#arbo li,#arboprofesseur li,#arboliste li,#arboecole li,#arboperso li,#arbojeux li {
    list-style-type: none
}

#zonmenu {
}

#zonmenu ul {
    margin: 0px;
    padding: 0px
}

.niv0 ul {
    margin: 2px;
    padding: 2px;
    display: none;
    padding-bottom: 5px!important;
    max-height: 500px;
    overflow: auto;
    overflow-x: hidden
}

.n1 ul {
    border-bottom: none !important;
    padding-bottom: 0px !important;
    max-height: none;
    overflow: visible
}

.clchapitrefeuille {
    background-image: url(../images/bouton_gros_bleu.gif);
    background-repeat: no-repeat;
    padding: 5px
}

.cfclic {
    background-color: #f6f5f5!important;
    color: #979595!important
}

.cfactif {
    -moz-box-shadow: 0px 0px 3px 3px #aaa;
    box-shadow: 0px 0px 3px 3px #898888;
    margin: 5px 5px 6px 3px!important;
    background-color: #a29e9e!important;
    color: white!important
}

.cf {
    cursor: pointer;
    max-width: 335px;
    font-size: 12px;
    padding: 2px 2px 4px 3px;
    margin: 1px 5px 0 0px;
    color: #666;
    background-color: #f0eeee;
    -moz-border-radius: 6px;
    border-radius: 6px;
    line-height: 1.3em
}

.cf_article {
    padding: 4px;
    margin: 1px 5px 0 0px;
    display: inline-block;
    max-width: unset
}

.lec::before {
    content: "\e610"
}

.exo::before {
    content: "\e623"
}

.seance::before {
    content: "\e61e"
}

.lienext::before {
    content: "\e604"
}

.test::before {
    content: "\e621"
}

.exo::before,.lec::before,.test::before,.lienext::before,.seance::before {
    font-family: 'icomoon';
    margin-right: 10px;
    color: #c33
}

.cf:hover {
    background-color: #e1dfe0
}

.cf_nonconnecte {
    font-style: italic;
    font-size: 1em;
    margin-right: 8px;
    padding-bottom: 4px;
    color: #999;
    background-color: #F2F2F2
}

.cn {
    cursor: pointer;
    padding-left: 20px;
    text-indent: -20px
}

div.cn::before,#zoncouleurs a::before,.pbleu::before,.pvert::before,.porange::before,.prouge::before,.pviolet::before,.pgris::before {
    font-family: 'icomoon';
    content: "\e903";
    margin-right: 4px
}

.n1 div.cn::before,.mbleu div.cn::before,#fd1,.pbleu::before {
    color: #4DAADE
}

.n2 div.cn::before,.mvert div.cn::before,#fd3,.pvert::before {
    color: #8EC641
}

.n3 div.cn::before,.morange div.cn::before,#fd2,.porange::before {
    color: #F8B12B
}

.n4 div.cn::before,.mrouge div.cn::before,#fd5,.prouge::before {
    color: #F36453
}

.n5 div.cn::before,.mviolet div.cn::before,#fd4,.pviolet::before {
    color: #DE55DE
}

.n6 div.cn::before,.mgris div.cn::before,#fd6,.gris::before {
    color: #666
}

.niv0 {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    padding: 0 0 4px 2px;
    cursor: pointer;
    color: #FFF
}

.n1 {
    color: #069;
    font-size: 1.3em;
    font-style: normal;
    margin: 0 0px 0 0px;
    line-height: 1.25em
}

.n2 {
    color: #393;
    font-size: 0.9em;
    margin: 1px 0 1px 4px
}

.n3 {
    color: #F60;
    font-size: 0.9em;
    margin: 1px 0 1px 4px
}

.n4 {
    color: #c33;
    margin: 1px 0 1px 4px
}

.n5 {
    color: #939;
    margin: 1px 0 1px 4px
}

.n6 {
    color: #666;
    margin: 1px 0 1px 4px
}

.imgnoeud {
    height: 15px;
    width: 15px
}

.imgnoeudbase {
    height: 18px;
    width: 18px
}

.imgfeuillebase {
    height: 18px;
    width: 18px
}

.imgfeuille {
    height: 8px;
    width: 8px
}

li.n1b {
    padding-top: 1px;
    font-size: 1.2em;
    line-height: 1.25em
}

.mnunot {
    display: none;
    font-size: 0.8em;
    font-weight: bold;
    text-align: center;
    float: right;
    margin-right: 10px;
    border-radius: 10px;
    margin-top: -6px;
    width: 70px;
    padding: 2px;
    background-color: #f90;
    color: white;
    -moz-border-radius: 10px;
    -moz-box-shadow: 2px 2px 4px #aaa;
    -webkit-box-shadow: 2px 2px 4px #aaa;
    box-shadow: 2px 2px 4px #555
}

.ong_gche {
    background-color: #9e3c9f;
    background: linear-gradient( #8eb1d3,#406f9f );
    background: linear-gradient( #BB73BB,#9F3C9F );
    background: linear-gradient( #9F3C9F,#CFA0CF);
    font-size: 1.4em;
    border-radius: 13px;
    display: inline-block;
    width: auto;
    min-width: 160px;
    max-width: 250px;
    text-align: center;
    color: white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 4px 5px;
    margin-top: 5px
}

.bord_vert {
    border-bottom: #027202 thin solid
}

.bord_jaune {
    border-bottom: #ff9c07 thin solid
}

.bord_rouge {
    border-bottom: #c33 thin solid
}

.bord_bleu {
    border-bottom: #369 thin solid
}

.bord_violet {
    border-bottom: #939 thin solid
}

.bord_gris {
    border-bottom: #666 thin solid
}

#zonecoletravail,#zonecoleperso {
    display: none;
    margin-bottom: 6px;
    margin-left: 5px
}

.artzon {
    text-align: left;
    cursor: default;
    color: #666;
    font-size: 13px
}

.artzon p {
    margin: 0.1em 0
}

.artzon table {
    padding: 0;
    border-collapse: collapse
}

.artzon table td {
    border: thin solid grey
}

.artzon hr {
    background-color: #CFD0D0;
    border-color: white;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #CFD0D0;
    height: 1px
}

.artzon ul {
    margin: 0px
}

.artzon ol {
    margin: 5px 0 0 0
}

.artzon ol li {
    list-style-type: decimal
}

.artzon li {
    margin: 3px 0 0 0;
    list-style-type: disc;
    list-style-position: outside
}

.n2 .artzon {
    border: thin solid grey;
    padding: 5px 0 5px 6px;
    margin: 5px 0
}

.cmdhcadre {
    position: absolute;
    top: -8px;
    right: 0px;
    width: 15px;
    cursor: pointer;
    z-index: 10
}

#imgoptionmenu {
    cursor: pointer;
    font-size: 1.6em;
    position: absolute;
    right: 10px;
    top: 12px;
    z-index: 20
}

#fenetreoptionmenu li {
    list-style-type: none;
    padding-left: 25px;
    text-indent: -25px
}

#fenetreoptionmenu {
    display: none
}

#liblienmenucompleta {
    display: none
}

#zonlienmnucomplet {
    display: none
}

.zonrecherche {
    padding-top: 2px
}

#zoncacherech {
    color: #069;
    display: none;
    margin-top: 0px;
    padding: 0px 0px 3px 0px
}

#zoneresultatrecherche {
    background-color: #FFF;
    padding-left: 13px;
    padding-bottom: 5px;
    max-height: 300px;
    overflow: auto;
    overflow-x: hidden;
    border-bottom: 1px solid #666
}

#txtrec {
    width: 100%;
    box-sizing: border-box;
    font-size: 1.2em
}

#imgaiderecherche {
    float: right;
    width: 23px;
    margin-top: -4px
}

#fenetreaiderecherche {
    display: none;
    text-align: justify
}

#zonsaisierech {
    display: none;
    margin-top: 4px
}

#rechlien {
    color: #069;
    font-size: 0.8em;
    margin-left: 2px;
    font-style: italic
}

@media only screen and (max-width: 1010px) {
    #ht_gche {
        float:none;
        margin: 0px 221px 0px 0px;
        width: initial
    }

    #ht_milieu {
        margin-left: 0px
    }

    #colonne_milieu {
        width: 100%
    }

    #imgcentregrandir {
        display: none
    }

    #logo,#logo_ombre {
        font-size: 50px;
        line-height: 0.9em
    }

    #logo_ombre {
        top: 5px;
        height: 47px
    }

    #zontetes {
        margin-top: 0px
    }

    #zontetes img {
        top: 5px;
        height: 47px
    }

    #zontetes div {
        font-size: 19px
    }

    #sub_container1,#zondatejour,#mnu_bouton_fermer {
        display: none
    }

    #mnureduit {
        display: inline-block
    }

    #sub_container1 {
        display: none;
        background-color: white;
        margin: 0px 0 0 2px;
        position: absolute;
        top: 40.7px;
        width: 68%;
        min-width: 270px;
        max-width: 350px;
        z-index: 1000;
        -moz-box-shadow: 2px 2px 4px #aaa;
        -webkit-box-shadow: 2px 2px 4px #aaa;
        box-shadow: 2px 2px 4px #555
    }

    #mnu_bouton_fermer {
        display: block
    }

    #zonmenu,.zonrecherche {
        margin: 7px
    }

    .zonrecherche {
        margin-top: 20px
    }
}

.pourmobile {
    display: none
}

.cc-window {
    opacity: 1;
    transition: opacity 1s ease
}

.cc-window.cc-invisible {
    opacity: 0
}

.cc-animate.cc-revoke {
    transition: transform 1s ease
}

.cc-animate.cc-revoke.cc-top {
    transform: translateY(-2em)
}

.cc-animate.cc-revoke.cc-bottom {
    transform: translateY(2em)
}

.cc-animate.cc-revoke.cc-active.cc-bottom,.cc-animate.cc-revoke.cc-active.cc-top,.cc-revoke:hover {
    transform: translateY(0)
}

.cc-grower {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s
}

.cc-link,.cc-revoke:hover {
    text-decoration: underline
}

.cc-revoke,.cc-window {
    position: fixed;
    overflow: hidden;
    box-sizing: border-box;
    font-family: Helvetica,Calibri,Arial,sans-serif;
    font-size: 12px;
    line-height: 1.1em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    z-index: 9999
}

.cc-window.cc-static {
    position: static
}

.cc-window.cc-floating {
    padding: 2em;
    max-width: 24em;
    -ms-flex-direction: column;
    flex-direction: column
}

.cc-window.cc-banner {
    padding: 0.25em 0.8em;
    width: 100%;
    -ms-flex-direction: row;
    flex-direction: row
}

.cc-revoke {
    padding: .5em
}

.cc-header {
    font-size: 12px;
    font-weight: 700
}

.cc-btn,.cc-close,.cc-link,.cc-revoke {
    cursor: pointer
}

.cc-link {
    opacity: .8;
    display: inline-block;
    padding: .2em
}

.cc-link:hover {
    opacity: 1
}

.cc-link:active,.cc-link:visited {
    color: initial
}

.cc-btn {
    display: block;
    padding: .4em .8em;
    font-size: .9em;
    font-weight: 700;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    white-space: nowrap
}

.cc-banner .cc-btn:last-child {
    min-width: 10px
}

.cc-highlight .cc-btn:first-child {
    background-color: transparent;
    border-color: transparent
}

.cc-highlight .cc-btn:first-child:focus,.cc-highlight .cc-btn:first-child:hover {
    background-color: transparent;
    text-decoration: underline
}

.cc-close {
    display: block;
    position: absolute;
    top: .5em;
    right: .5em;
    font-size: 1.6em;
    opacity: .9;
    line-height: .75
}

.cc-close:focus,.cc-close:hover {
    opacity: 1
}

.cc-revoke.cc-top {
    top: 0;
    left: 3em;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em
}

.cc-revoke.cc-bottom {
    bottom: 0;
    left: 3em;
    border-top-left-radius: .5em;
    border-top-right-radius: .5em
}

.cc-revoke.cc-left {
    left: 3em;
    right: unset
}

.cc-revoke.cc-right {
    right: 3em;
    left: unset
}

.cc-top {
    top: 1em
}

.cc-left {
    left: 1em
}

.cc-right {
    right: 1em
}

.cc-bottom {
    bottom: 1em
}

.cc-floating>.cc-link {
    margin-bottom: 1em
}

.cc-floating .cc-message {
    display: block;
    margin-bottom: 1em
}

.cc-window.cc-floating .cc-compliance {
    -ms-flex: 1;
    flex: 1
}

.cc-window.cc-banner {
    -ms-flex-align: center;
    align-items: center
}

.cc-banner.cc-top {
    left: 0;
    right: 0;
    top: 0
}

.cc-banner.cc-bottom {
    left: 0;
    right: 0;
    bottom: 0
}

.cc-banner .cc-message {
    -ms-flex: 1;
    flex: 1
}

.cc-compliance {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: justify;
    align-content: space-between
}

.cc-compliance>.cc-btn {
    -ms-flex: 1;
    flex: 1
}

.cc-btn+.cc-btn {
    margin-left: .5em
}

@media print {
    .cc-revoke,.cc-window {
        display: none
    }
}

@media screen and (max-width: 900px) {
    .cc-btn {
        white-space:normal
    }
}

@media screen and (max-width: 414px) and (orientation:portrait),screen and (max-width:736px) and (orientation:landscape) {
    .cc-window.cc-top {
        top:0
    }

    .cc-window.cc-bottom {
        bottom: 0
    }

    .cc-window.cc-banner,.cc-window.cc-left,.cc-window.cc-right {
        left: 0;
        right: 0
    }

    .cc-window.cc-banner {
        -ms-flex-direction: column;
        flex-direction: column
    }

    .cc-window.cc-banner .cc-compliance {
        -ms-flex: 1;
        flex: 1
    }

    .cc-window.cc-floating {
        max-width: none
    }

    .cc-window .cc-message {
        margin-bottom: 1em
    }

    .cc-window.cc-banner {
        -ms-flex-align: unset;
        align-items: unset
    }
}

.cc-floating.cc-theme-classic {
    padding: 1.2em;
    border-radius: 5px
}

.cc-floating.cc-type-info.cc-theme-classic .cc-compliance {
    text-align: center;
    display: inline;
    -ms-flex: none;
    flex: none
}

.cc-theme-classic .cc-btn {
    border-radius: 5px
}

.cc-theme-classic .cc-btn:last-child {
    min-width: 10px
}

.cc-floating.cc-type-info.cc-theme-classic .cc-btn {
    display: inline-block
}

.cc-theme-edgeless.cc-window {
    padding: 0
}

.cc-floating.cc-theme-edgeless .cc-message {
    margin: 2em 2em 1.5em
}

.cc-banner.cc-theme-edgeless .cc-btn {
    margin: 0;
    padding: .8em 1.8em;
    height: 100%
}

.cc-banner.cc-theme-edgeless .cc-message {
    margin-left: 1em
}

.cc-floating.cc-theme-edgeless .cc-btn+.cc-btn {
    margin-left: 0
}

@media print{
	.noprint{
		display: none !important;
	}
	
	div.colgche {		   
		margin: 0 auto;
		float: none;
	}
}


