@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(../fonts/pacifico.woff) format('woff');
}
.masthead-brand {
  font-family: "Pacifico", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn {
  margin-bottom: 10px;
}


/*
 * Base structure
 */

html,
body {
  height: 100%; font-size:15px; 
/*  background-image: url(/images/wood-bg.jpg); */
}
body {
  color: #fff;
  text-align: center; 
/*  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
*/
}

p.lead { font-size:15px; }

/* Padding for spacing */
.inner {
  padding: 15px 0 10px;
}


.masthead-brand {
  margin-top: 0px;
  margin-bottom: 20px;
}


h1 { font-size:26px; margin-bottom: 40px}


/*
 * Affix and center
 */

@media (min-width: 768px) {

  h1 { font-size:35px}
}

@media (min-width: 992px) {

h1 { font-size:35px}
}

/* Handle the widths */
div.form-group.collection-item
{
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0px 2px 5px rgba(0,0,0,0.15);
  margin-left: 0px;
  margin-right: 0px;
  text-align:left;
}

.navbar-fixed-bottom.form-group li
{
  text-align:left;text-shadow: none;
}

div.form-group.collection-item  div 
{
  margin: 10px 0 ;
}

div.form-group.collection-item  a.btn.btn-danger
{
  margin: 5px 15px 15px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  width: 100%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .carousel-inner,.carousel .inner { 
  margin-left: -15px; margin-right: -15px;  width:auto

}
/* Declare heights because of positioning of img element */
.carousel .inner {
/*  margin-left: -15px; margin-right: -15px */
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.prevnext { margin-top:20px }

.prevnext .btn.next.inactive { opacity:0.3 } 
.prevnext .btn.prev { padding-right:12px; padding-left:8px } 
.prevnext .btn.next { padding-right:8px; padding-left:12px } 

.prevnext .btn.prev span { margin-left:10px; margin-right:5px} 
.prevnext .btn.next span { margin-right:10px; margin-left:5px } 

/*

.prevnext .btn.next:hover span, .prevnext .btn.prev:hover span  { display: inline } 


.prevnext .btn.next {border-right:none; border-radius: 4px 0 0 4px;padding-right:8px;}
.prevnext .btn.prev {border-left:none; border-radius: 0 4px 4px 0;padding-left:8px;}

@media (max-width: 768px) { 
.prevnext .btn.prev { padding-right:8px; padding-left:8px } 
.prevnext .btn.next { padding-right:8px; padding-left:8px } 
}


@media (max-width: 435px) {

.carousel .item {padding-left: 0; padding-right: 0 }
.prevnext.pull-right { position: relative; top:0; right: 0; margin: 15px 0px 0 -10px }
.prevnext.pull-left { position: relative; top:0; left: 0; margin: 15px -10px 0 0px }


}
*/

/* alert */
body .alert-test { display:block; position: relative; border-left:none; border-right:none; border-radius:0; padding:10px; text-align:left; }

.alert-test .text-test { margin:8px 0 0 50px }

.alert-test .btn { margin-top:5px }


@media (max-width: 700px) {
  .alert-test .text-test { margin:2px 0 0 50px }
}

@media (max-width: 800px) { 
  .alert-test .btn span.text { display:none; }
}

.progress.questionnaire
{
  background: rgba(255, 255, 255, 1); border-radius:0; display:none; height:20px; margin: 0 0 15px 0; border: none;
}

.quizz-progress-bar
{
  color: #FFF; height:20px; width: 0%; font-size:15px; border: none;
}

.quizz-progress-bar-max
{
  opacity:.2; height:20px; width: 0%; font-size:15px; border: none;
}

.quizz-progress-bar[aria-valuenow="0"]
{
  color: #333;  
}

/*  modal  */
.choice_modal{color:#333}


/*    pub    */

.pub .presentation h2 {
  font-family: "Pacifico", "Helvetica Neue", Helvetica, Arial, sans-serif; margin-bottom:25px;
}

spam.pacifico {
  font-family: "Pacifico", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.pub {background-color:#E70437; box-shadow: box-shadow: 0px 0px 9px rgba(0,0,0,0.9); border-radius:4px;  text-align: center; padding-top:10px; padding-bottom:20px; color:#fff; }
.pub .presentation { padding:30px 0; margin:0 40px; border:none; border-top: 1px solid rgba(255,255,255,0.4)}
.pub .esthetique { background:none; padding:20px 40px 40px }

.pub a, .pub a:hover, .pub a:active{ color:#fff }

.pub ul { list-style-type: none; list-style-type: none;    padding:0;    margin: 0;
}
.pub li { padding:0; margin:0 }

.pub ul { list-style-type: none; list-style-type: none;    padding: 15px 0 ;    margin: 0; }
.pub li { display: inline; padding: 0}

.pub .contact, .pub .mentions, .pub .ensavoirplus { padding-bottom:50px; padding-top:30px; margin: 0;  }

.pub .esthetique { background: url("../images/ecran-4-black.png") center top no-repeat; background-size: 520px; }

@media (min-width: 768px) { 
  .pub { padding-top:40px; padding-bottom:0;  }
  .pub .presentation { padding:30px 0; margin:0 40px ; border:none; border-top: 1px solid rgba(255,255,255,0.4)}
  .pub .esthetique { padding-top: 70px; padding:20px 40px 40px }
}


.btn-shadow.btn-primary {
  box-shadow: 0px 0px 0px 5px rgba(94,182,221,0.35); 
}

.btn-shadow.btn-success {
  box-shadow: 0px 0px 0px 5px rgba(143,207,60,0.35); 
}

.btn-shadow.btn-warning {
  box-shadow: 0px 0px 0px 5px rgba(254,156,3,0.35); 
}

.btn-inverse {
  border-color:#fff; border-width:2px; color:#fff;
  background:none
}

.btn-inverse:hover, .btn-inverse:focus, .btn-inverse:active {
  background:#fff; border-color:#fff;
}

.btn-inverse.btn-danger:hover, .btn-inverse.btn-danger:focus, .btn-inverse.btn-danger:active {
  color:#E70437; background:#fff; border-color:#fff;
}

.pub .btn
{
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-right: 30px;
  padding-bottom: 15px;
  padding-left: 30px;
  font-size: 20px;
}


.btn.debut
{
  width:120px; height:120px; margin: 30px auto 30px; padding: 35px 0 ; border-radius:60px; display:block; font-size:16px; line-height:22px; display: block; white-space:normal;
  box-shadow: 0px 3px 3px 0 rgba(0,0,0,0.35), 0px 0px 0px 25px rgba(94,182,221,0.15); 
}

.btn.debut:hover
{
  box-shadow: 0px 0px 10px 10px rgba(94,182,221,0.85), 0px 0px 0px 25px rgba(94,182,221,0.15); padding: 36px 5px ;
}

.btn-single i.fa-check, .btn-multi i.fa-check { 
  /*font-size:18px;*/ height:20px; vertical-align:50%; width:50px; padding-left:7px; display:block; float:left;  
  color: rgba(255, 255, 255, 0.09)
}

.btn-single.active i.fa-check, .btn-multi.active i.fa-check, .btn-single.active:hover i.fa-check, .btn-multi.active:hover i.fa-check { 
  color: #8FCF3C
}

.btn-single, .btn-multi { text-align: left; position:relative}
.btn-single > span, .btn-multi > span { padding-left:50px; display:block; padding-right:10px; width:100%; }

.btn-single:hover i.fa-check, .btn-multi:hover i.fa-check { 
  color: rgba(255, 255, 255, 0.6)
}

/*mgu*/

.btn-single i.fa-check-square-o , .btn-multi i.fa-check-square-o  { 
  /*font-size:18px;*/ height:20px; vertical-align:50%; width:50px; padding-left:7px; display:block; float:left;  
  color: rgba(255, 255, 255, 0.09)
}

.btn-single.active i.fa-check-square-o , .btn-multi.active i.fa-check-square-o , .btn-single.active:hover i.fa-check-square-o , .btn-multi.active:hover i.fa-check-square-o  { 
  color: #8FCF3C
}

.btn-single:hover i.fa-check-square-o , .btn-multi:hover i.fa-check-square-o  { 
  color: rgba(255, 255, 255, 0.6)
}
/*fin mgu */

.btn-single > i.fa-chevron-right { 
  position:absolute; font-size:15px; top:8px; right:10px; color: rgba(255, 255, 255, 0.6); display:none;
}

.btn-single:hover i.fa-chevron-right { display:block }


.form-horizontal .control-label
{
  text-align: center; width: 100%;
  font-size:15px; font-weight:normal; 
}

.form-horizontal .matrice-slider, .form-horizontal .rating-slider
{
  text-align: left; padding: 0 20px 0 30px; float:left; width:250px; margin-top:-15px; margin-bottom: -15px
}

.form-horizontal .slider-val
{
  text-align: center; margin-top:14px; width:30px; padding: 5px; float:left; font-size:17px; line-height:20px; border-radius:3px; border:solid 1px rgba(0,0,0,0.1); background:rgba(0,0,0,0.1)  
}

.cover-heading { margin-bottom: 25px }

/*  slider  */

.slider.slider-horizontal {
  margin: 20px 0
}

.slider .tooltip.top {
  margin-top: -50px;
}

.slider.slider-horizontal .slider-handle {
  margin-left: -13px;
  margin-top: -11px;
}

.slider-handle {
  width: 26px;
  height: 26px;
}

/*  rating  */

.rating {
  unicode-bidi: bidi-override; 
  direction: rtl;
  font-size: 40px;
}
.rating span.star,
.rating span.heart {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}
.rating span.star:hover,
.rating span.heart:hover {
  cursor: pointer;
}
.rating span.star:before {
  content: "\f006";
  padding-right: 5px;
  color: #ffcc00;
}
.rating span.star:hover:before, .rating span.star:hover ~ span.star:before,
.rating span.star.active:before, .rating span.star.active ~ span.star:before {
  content: "\f005";
  color: #ffcc00;
}

.rating span.heart:before {
  content: "\f08a";
  padding-right: 5px;
  color: #ff00cc;
}
.rating span.heart:hover:before, .rating span.heart:hover ~ span.heart:before,
.rating span.heart.active:before, .rating span.heart.active ~ span.heart:before {
  content: "\f004";
  color: #ff00cc;
}

.rating-smile {
  font-size: 70px;
}

.rating-smile span {
   text-align:center; padding-right: 5px; color:#8FCF3C; width:80px; height:80px; text-align:center; padding:0; line-height:80px; 
}

.rating-smile span:hover, .rating-smile span.active {  
  border-radius:40px; 
}


/************/


.open_in_mix input.form-control + .form-control-feedback
{
  position: absolute;
  padding-top: 0px;
  padding-right: 12px;
  padding-bottom: 0px;
  padding-left: 0px;
  font-size:18px; top:28px; left:8px;
  vertical-align: middle; color:rgba(0,0,0,0.1)
}

.open_in_mix input.form-control:hover + .form-control-feedback,
.open_in_mix input.form-control:focus + .form-control-feedback
{
 color:rgba(0,0,0,0.3)
}

.open_in_mix.active input.form-control + .form-control-feedback,
.open_in_mix.active input.form-control:hover + .form-control-feedback,
.open_in_mix.active input.form-control:focus + .form-control-feedback
{
 color:#8FCF3C
}

.open_in_mix input.form-control
{
padding-left:50px
}

.open_in_mix, .commentaire_in_mix
{
  padding:20px 0 0 0;
}



.has-feedback {
  position: relative;
}
.has-feedback .form-control {
  padding-right: 42.5px;
}
span.form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 46px;
  height: 46px;
  line-height: 36px;
  text-align: center;
  pointer-events: none;
}
.input-lg + span.form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px;
}
.input-sm + span.form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.has-success .form-control-feedback {
  color: #8FCF3C;
}

.has-success .form-control, .has-success .form-control:hover, .has-success .form-control:focus {
  border-color: #8FCF3C; color: #8FCF3C;
  -webkit-box-shadow: inset 0 1px 50px rgba(143, 207, 60, .45);
          box-shadow: inset 0 1px 50px rgba(143, 207, 60, .45);
}



.has-error .form-control-feedback {
  color: #E70437; 
}

.has-error .form-control, .has-error .form-control:hover, .has-error .form-control:focus {
  border-color: #E70437; color: #E70437;
  
  -webkit-box-shadow: inset 0 1px 50px rgba(231, 4, 55, .45);
          box-shadow: inset 0 1px 50px rgba(231, 4, 55, .45);
}

.has-error .help-block { margin-top: -5px;
  background-color: #E70437; color:#fff; padding:5px; border-radius: 0px 0px 4px 4px 
}


